@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=PT+Serif&display=swap");
html {
  --font-xxl: 48px;
  --font-xl: 36px;
  --font-l: 24px;
  --font-m: 20px;
  --font-s: 18px;
  --font-xs: 16px;
  --font-xxs: 14px;
}
@media (max-width: 576px) {
  html {
    --font-xxl: 28px;
    --font-xl: 36px;
    --font-l: 20px;
    --font-m: 20px;
    --font-s: 14px;
    --font-xs: 16px;
    --font-xxs: 14px;
  }
}

html {
  --grid-margin: auto;
}
@media (min-width: 1400px) {
  html {
    --container-width: 1200px;
    --gutter: 30px;
    --col-width: 70px;
  }
}
@media (max-width: 1399px) {
  html {
    --container-width: 1140px;
    --gutter: 30px;
  }
}
@media (max-width: 1199px) {
  html {
    --container-width: 960px;
    --gutter: 20px;
  }
}
@media (max-width: 991px) {
  html {
    --container-width: 720px;
    --gutter: 20px;
  }
}
@media (max-width: 767px) {
  html {
    --container-width: 540px;
    --gutter: 20px;
  }
}
@media (max-width: 575px) {
  html {
    --container-width: 320px;
    --gutter: 20px;
  }
}
@media (max-width: 375px) {
  html {
    --grid-margin:15px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: var(--font-m);
}

.category:hover, .service-list_carousel .service, .service-list_table .service:hover, .card, .sidebar-menu {
  background: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.03), 0px 0px 10px rgba(0, 0, 0, 0.05), 0px 12px 24px rgba(0, 0, 0, 0.04);
}

.input__value:focus, .input__value:hover {
  box-shadow: 2px 8px 40px rgba(0, 0, 0, 0.1);
}

.header__phone, .header__logo, .input__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.button {
  display: inline-block;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  border-radius: 100px;
  background: #5b423b;
  transition: background-color 0.2s ease-out;
  padding: 18px 40px;
  font-size: var(--font-s);
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
.button:hover {
  background-color: #c6aa80;
}

.link {
  text-decoration: none;
  color: #000000;
}
.link:visited {
  color: #5b423b;
}
.link:hover {
  color: #852d2e;
}
.link:active {
  color: #c6aa80;
}

.list {
  padding-left: 80px;
}
.list__item {
  padding-left: 30px;
  margin-bottom: 50px;
  line-height: 180%;
  position: relative;
}
.list__item::marker {
  content: url(../img/marker.svg);
}

.sidebar-menu {
  list-style-type: none;
  padding: 15px 50px;
  max-width: 410px;
}
.sidebar-menu__item {
  padding: 30px 0;
  font-size: var(--font-s);
  font-weight: 600;
  text-transform: uppercase;
}
.sidebar-menu__item:not(:last-of-type) {
  border-bottom: 1px solid #dad8d5;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.main-menu__item {
  padding: 20px 0;
  font-size: var(--font-xs);
  font-weight: 600;
  text-transform: uppercase;
}
.main-menu__wrapper {
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.04);
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.breadcrumb__item {
  color: #b4b4b4;
  font-size: var(--font-xxs);
  font-weight: 600;
  text-decoration: underline;
}
.breadcrumb__item:not(:last-of-type)::after {
  content: "/";
  display: inline-block;
  padding: 0 10px;
}
.breadcrumb__item_active {
  color: #7d7d7d;
  text-decoration: none;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--gutter);
  position: relative;
  justify-content: stretch;
}
@media (max-width: 576px) {
  .card {
    grid-template-columns: 1fr;
  }
}
.card__wrapper {
  padding: 30px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
}
@media (max-width: 576px) {
  .card__wrapper {
    grid-row-start: 2;
  }
}
.card__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card__img-wrapper {
  transition: filter 0.2s ease-out;
  filter: grayscale(1);
  overflow: hidden;
}
.card__img-wrapper:hover {
  filter: grayscale(0);
}
@media (max-width: 576px) {
  .card__img-wrapper {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}
.card__overheader {
  font-size: var(--font-xxs);
  font-weight: 600;
  text-transform: uppercase;
  color: #b4b4b4;
  margin-bottom: 15px;
}
.card__header {
  font-size: var(--font-l);
  margin-bottom: 15px;
  line-height: 140%;
}
.card__description {
  font-size: var(--font-s);
  flex: 1;
  line-height: 180%;
  text-overflow: ellipsis;
  margin-bottom: 30px;
}
.card__button {
  flex: 0 0;
}

.control {
  display: block;
  position: relative;
}
.control__input {
  appearance: none;
  height: 1px;
  width: 1px;
  position: absolute;
  opacity: 0;
  margin: 0;
}
.control__label {
  display: flex;
  align-items: center;
  gap: 40px;
  line-height: 180%;
  font-size: var(--font-s);
}
@supports not (gap: 40px) {
  .control__label {
    margin-left: 40px;
  }
}
.control__label:hover::before {
  background: #852d2e;
}
.control__label::before {
  content: "";
  display: block;
  flex: 0 0 36px;
  width: 36px;
  height: 36px;
  background: #f4f4f4;
}
.control__input:checked + .control__label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='36' height='36' fill='%23852D2E'/%3E%3Cpath d='M9 17.3226L16.6905 25L28 11' stroke='%23F4F4F4' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.input {
  position: relative;
  display: block;
}
.input__value {
  height: 70px;
  display: block;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  padding: 22px 40px;
  width: 100%;
  background: #f4f4f4;
  border-radius: 35px;
  font-size: var(--font-s);
  font-weight: 600;
  color: #7d7d7d;
  transition: all 0.2s ease-in;
}
.input__value:focus {
  background: white;
  color: #000000;
  outline: none;
}
.input__value:invalid {
  outline: #d93333;
  border: 1px solid #d93333;
  box-shadow: 2px 8px 40px rgba(255, 0, 0, 0.09);
}
.input__value::placeholder {
  font-size: var(--font-s);
  font-weight: 600;
  text-transform: uppercase;
  color: #b4b4b4;
}
.input__value::-webkit-calendar-picker-indicator {
  display: none;
}
.input__icon {
  width: 30px;
  height: 30px;
  right: 40px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.input__icon_password-hidden {
  background-image: url("data:image/svg+xml,%3Csvg width='29' height='24' viewBox='0 0 29 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.1792 13.8671C20.4215 13.2196 20.5444 12.5336 20.542 11.8423C20.542 10.3073 19.9322 8.83523 18.8468 7.74984C17.7615 6.66445 16.2894 6.05469 14.7544 6.05469C14.0716 6.05549 13.3944 6.17834 12.7549 6.41747L14.1132 7.81797C14.3197 7.78493 14.5284 7.76801 14.7375 7.76735C15.8229 7.76508 16.865 8.19234 17.6364 8.95583C18.4078 9.71931 18.8457 10.757 18.8547 11.8423C18.854 12.0514 18.837 12.2601 18.804 12.4666L20.1792 13.8671Z' fill='%23852D2E'/%3E%3Cpath d='M27.8567 11.4446C25.0135 6.18847 20.0274 3.00781 14.5097 3.00781C13.0074 3.01134 11.5152 3.25339 10.0889 3.72494L11.4472 5.09169C12.4477 4.83313 13.4764 4.69993 14.5097 4.69516C19.2596 4.69516 23.5792 7.3443 26.1524 11.8073C25.2085 13.4631 23.9571 14.9235 22.4656 16.1101L23.6636 17.3081C25.3898 15.9155 26.8235 14.1951 27.882 12.2461L28.1013 11.8411L27.8567 11.4446Z' fill='%23852D2E'/%3E%3Cpath d='M3.03434 1.53051L6.79713 5.2933C4.41875 6.82467 2.4749 8.94284 1.15295 11.4437L0.933594 11.8402L1.15295 12.2452C3.99613 17.5013 8.98225 20.6819 14.4999 20.6819C16.6535 20.6815 18.7791 20.1941 20.7178 19.2561L24.9361 23.4745L26.4126 22.209L4.47703 0.273438L3.03434 1.53051ZM11.2602 9.75634L16.8706 15.3668C16.2367 15.7592 15.5069 15.9693 14.7614 15.9742C14.2197 15.9742 13.6834 15.8671 13.1832 15.6591C12.6831 15.451 12.229 15.1461 11.8472 14.7619C11.4653 14.3777 11.1632 13.9217 10.9582 13.4203C10.7532 12.9189 10.6494 12.3819 10.6527 11.8402C10.6622 11.1033 10.8722 10.3829 11.2602 9.75634V9.75634ZM10.0368 8.53301C9.24753 9.64616 8.87757 11.0027 8.99247 12.3624C9.10737 13.7222 9.69972 14.9974 10.6646 15.9623C11.6295 16.9272 12.9048 17.5196 14.2645 17.6345C15.6243 17.7494 16.9808 17.3794 18.0939 16.5901L19.4438 17.94C17.8811 18.608 16.1993 18.9524 14.4999 18.9524C9.74999 18.9524 5.43038 16.3033 2.85717 11.8402C4.09206 9.6536 5.87055 7.82281 8.02046 6.52507L10.0368 8.53301Z' fill='%23852D2E'/%3E%3C/svg%3E");
}
.input__icon_password-visible {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='18' viewBox='0 0 28 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.9132 8.43675C24.07 3.18065 19.0839 0 13.5663 0C8.04866 0 3.0541 3.18065 0.236229 8.43675L0 8.83327L0.219355 9.23824C3.06254 14.4943 8.04866 17.675 13.5663 17.675C19.0839 17.675 24.0785 14.5365 26.9132 9.23824L27.1326 8.83327L26.9132 8.43675ZM13.5663 15.9455C8.8164 15.9455 4.4546 13.2963 1.92358 8.83327C4.4546 4.37023 8.8164 1.7211 13.5663 1.7211C18.3162 1.7211 22.6274 4.37867 25.2006 8.83327C22.6274 13.2963 18.3077 15.9455 13.5663 15.9455V15.9455Z' fill='%23852D2E'/%3E%3Cpath d='M13.8132 3.07144C12.6693 3.07979 11.5535 3.42695 10.6068 4.06907C9.66006 4.71119 8.92484 5.61948 8.49401 6.6792C8.06318 7.73893 7.95606 8.90256 8.18618 10.0231C8.4163 11.1437 8.97333 12.1709 9.78692 12.9751C10.6005 13.7793 11.6342 14.3243 12.7573 14.5414C13.8805 14.7584 15.0428 14.6378 16.0975 14.1946C17.1521 13.7515 18.0518 13.0057 18.6828 12.0516C19.3139 11.0974 19.648 9.97768 19.643 8.83374C19.6397 8.07227 19.4862 7.31894 19.1912 6.61692C18.8962 5.9149 18.4656 5.27798 17.924 4.74268C17.3825 4.20738 16.7406 3.78421 16.0352 3.49743C15.3298 3.21065 14.5747 3.06589 13.8132 3.07144V3.07144ZM13.8132 12.9593C13.0052 12.951 12.2177 12.7041 11.5495 12.2496C10.8813 11.7952 10.3624 11.1534 10.0577 10.405C9.75313 9.6565 9.67645 8.83472 9.83735 8.04284C9.99825 7.25095 10.3896 6.52426 10.9621 5.95404C11.5347 5.38381 12.2629 4.99548 13.0555 4.83782C13.848 4.68015 14.6695 4.76018 15.4167 5.06785C16.1639 5.37552 16.8035 5.89712 17.2552 6.56713C17.707 7.23714 17.9507 8.02569 17.9557 8.83374C17.9579 9.37757 17.8522 9.91644 17.6446 10.4191C17.437 10.9218 17.1317 11.3782 16.7464 11.762C16.361 12.1457 15.9034 12.4492 15.3999 12.6547C14.8964 12.8602 14.3571 12.9638 13.8132 12.9593V12.9593Z' fill='%23852D2E'/%3E%3C/svg%3E");
}
.input__icon_date {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.8 2.7H22.5V0.3C22.5 0.135 22.365 0 22.2 0H20.1C19.935 0 19.8 0.135 19.8 0.3V2.7H10.2V0.3C10.2 0.135 10.065 0 9.9 0H7.8C7.635 0 7.5 0.135 7.5 0.3V2.7H1.2C0.53625 2.7 0 3.23625 0 3.9V28.8C0 29.4638 0.53625 30 1.2 30H28.8C29.4638 30 30 29.4638 30 28.8V3.9C30 3.23625 29.4638 2.7 28.8 2.7ZM27.3 27.3H2.7V13.05H27.3V27.3ZM2.7 10.5V5.4H7.5V7.2C7.5 7.365 7.635 7.5 7.8 7.5H9.9C10.065 7.5 10.2 7.365 10.2 7.2V5.4H19.8V7.2C19.8 7.365 19.935 7.5 20.1 7.5H22.2C22.365 7.5 22.5 7.365 22.5 7.2V5.4H27.3V10.5H2.7Z' fill='%23852D2E'/%3E%3C/svg%3E");
}

.arrow {
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='11' viewBox='0 0 17 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.462145 2.90642L7.45105 10.5018C8.06595 11.17 9.06625 11.1652 9.67526 10.4922L16.5465 2.89682C17.5218 1.81931 16.8201 -2.94092e-06 15.43 -2.69786e-06L1.56984 -2.74479e-07C0.17382 -3.03917e-08 -0.524923 1.8337 0.462145 2.90642Z' fill='%23852D2E'/%3E%3C/svg%3E");
  background-color: white;
  border-radius: 50%;
  background-position: 50% 60%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05), 0px 8px 30px rgba(0, 0, 0, 0.1);
}

.block {
  font-size: var(--font-xxs);
  font-weight: 500;
  padding-left: 42px;
  line-height: 30px;
  position: relative;
}
.block::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}
.block_address::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='12' fill='%235B423B'/%3E%3Cpath d='M12 4C9.24302 4 7 6.42562 7 9.40704C7 13.1544 12.0049 19.5556 12.0049 19.5556C12.0049 19.5556 17 12.9701 17 9.40704C17 6.42562 14.7571 4 12 4ZM13.5086 10.9902C13.0926 11.44 12.5464 11.6649 12 11.6649C11.4537 11.6649 10.9073 11.44 10.4915 10.9902C9.65961 10.0907 9.65961 8.62708 10.4915 7.72748C10.8943 7.29169 11.4301 7.05168 12 7.05168C12.5699 7.05168 13.1056 7.29179 13.5086 7.72748C14.3405 8.62708 14.3405 10.0907 13.5086 10.9902Z' fill='white'/%3E%3C/svg%3E");
}
.block_schedule::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle  cx='12' cy='12' r='12' fill='%235B423B'/%3E%3Cpath d='M12 6C8.6916 6 6 8.6916 6 12C6 15.3084 8.6916 18 12 18C15.3084 18 18 15.3084 18 12C18 8.6916 15.3084 6 12 6Z' fill='white'/%3E%3Cpath  d='M15.127 11.8147H12.4305V8.57264C12.4305 8.29982 12.2093 8.07861 11.9365 8.07861C11.6637 8.07861 11.4425 8.29982 11.4425 8.57264V12.3087C11.4425 12.5816 11.6637 12.8028 11.9365 12.8028H15.127C15.3998 12.8028 15.621 12.5816 15.621 12.3087C15.621 12.0359 15.3998 11.8147 15.127 11.8147Z' fill='%235B423B'/%3E%3C/svg%3E");
}
.block_personal::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle  cx='12' cy='12' r='12' fill='%235B423B'/%3E%3Cpath d='M12 11.2983C13.4859 11.2983 14.6906 9.8884 14.6906 8.14916C14.6906 5.73731 13.486 5 12 5C10.514 5 9.30947 5.73731 9.30947 8.14916C9.3095 9.8884 10.5141 11.2983 12 11.2983Z' fill='white'/%3E%3Cpath d='M17.9413 15.9334L16.5839 12.8756C16.5218 12.7357 16.4127 12.6196 16.277 12.5489L14.1704 11.4523C14.1239 11.4282 14.0676 11.4329 14.0259 11.4645C13.4301 11.9151 12.7295 12.1533 12 12.1533C11.2704 12.1533 10.5699 11.9151 9.97411 11.4645C9.93223 11.4329 9.87597 11.4282 9.82952 11.4523L7.72304 12.5489C7.58722 12.6196 7.47827 12.7356 7.41612 12.8756L6.0587 15.9334C5.96512 16.1442 5.9843 16.3854 6.11003 16.5788C7.72304 17.7391 11.0426 17.9784 11.0426 17.9784H12.9573C12.9573 17.9784 16.277 17.8296 17.89 16.5788C18.0157 16.3854 18.0349 16.1442 17.9413 15.9334Z' fill='white'/%3E%3C/svg%3E");
}
.block__headline {
  display: block;
  font-weight: 600;
}
.block__content {
  display: block;
}

.header {
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.04);
}
.header__top {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #dad8d5;
  padding: 30px;
  position: relative;
}
.header__menu {
  max-width: 1200px;
  align-self: center;
  margin: 0 auto;
}
.header__menu_user-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.header__logo {
  left: calc((100vw - var(--container-width) - 500px) / 2);
}
.header__phone {
  position: absolute;
  right: calc((100vw - var(--container-width) - 400px) / 2);
}
.header__button {
  align-self: center;
}
.header__link {
  color: #852d2e;
  text-decoration: underline;
  font-weight: 400;
}
.header__link + .header__link {
  margin-left: 30px;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  margin: 0 var(--grid-margin);
}

.page-header {
  padding: 45px 0 55px;
  background: #f4f4f4;
}
.page-header__title {
  font-family: "PT Serif", serif;
  font-size: var(--font-xxl);
  font-weight: 400;
}
.page-header__nav {
  margin-bottom: 15px;
}
.page-header_bskg-pill {
  background-image: url("/img/background/pill.svg");
  background-size: 200px;
}
.page-header_bskg-cross {
  background-image: url("/img/background/cross.svg");
  background-size: 300px;
}
.page-header_bskg-stethoscope {
  background-image: url("/img/background/stethoscope.svg");
  background-size: 500px;
  background-position: right bottom;
}
.page-header_bskg-syringe {
  background-image: url("/img/background/syringe.svg");
  background-size: 150px;
  background-position: right bottom;
}

.content {
  padding-top: 120px;
}
.content_grid {
  display: grid;
  grid-template-columns: 8fr 4fr;
  grid-gap: var(--gutter);
}
@media (max-width: 576px) {
  .content_grid {
    display: block;
  }
}
.content__left-menu {
  position: sticky;
  top: 60px;
}
.content__left-menu-wrapper {
  position: relative;
}
@media (max-width: 576px) {
  .content__left-menu {
    display: none;
  }
}

.docs__section {
  margin-bottom: 60px;
}
.docs__section-name {
  font-family: "PT Serif", serif;
  font-size: var(--font-xl);
  font-weight: 400;
  color: #852d2e;
  margin-bottom: 50px;
}
.docs__item {
  border-bottom: 1px solid #dad8d5;
}
.docs__item:first-of-type {
  border-top: 1px solid #dad8d5;
}

.document {
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding: 30px 0;
}
.document::before {
  content: "";
  display: block;
  height: 48px;
  width: 37px;
  margin-right: 30px;
  flex: 0 0 37px;
  background-image: url("data:image/svg+xml,%3Csvg width='37' height='48' viewBox='0 0 37 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36 45.6939C36 46.2026 35.5876 46.615 35.0789 46.615H1.92105C1.41237 46.615 1 46.2026 1 45.6939V1.92154C1 1.41286 1.41237 1.00049 1.92105 1.00049H19.3095C19.5438 1.00049 19.7692 1.08976 19.94 1.25014L35.7095 16.0596C35.8949 16.2337 36 16.4767 36 16.731V45.6939Z' stroke='black' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M35.9977 16.332H20.5929C20.0842 16.332 19.6719 15.9196 19.6719 15.4109V1L35.9977 16.332Z' stroke='black' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.document_doc::before {
  background-image: url("data:image/svg+xml,%3Csvg width='37' height='48' viewBox='0 0 37 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36 45.6939C36 46.2026 35.5876 46.615 35.0789 46.615H1.92105C1.41237 46.615 1 46.2026 1 45.6939V1.92154C1 1.41286 1.41237 1.00049 1.92105 1.00049H19.3095C19.5438 1.00049 19.7692 1.08976 19.94 1.25014L35.7095 16.0596C35.8949 16.2337 36 16.4767 36 16.731V45.6939Z' stroke='black' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M35.9977 16.332H20.5929C20.0842 16.332 19.6719 15.9196 19.6719 15.4109V1L35.9977 16.332Z' stroke='black' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.97918 39.401C6.97918 39.1677 7.03988 38.9888 7.16129 38.8642C7.2827 38.7396 7.45841 38.6773 7.68845 38.6773C7.92168 38.6773 8.09899 38.7428 8.2204 38.8738C8.34181 39.0016 8.40251 39.1773 8.40251 39.401C8.40251 39.6278 8.34021 39.8083 8.21561 39.9425C8.0942 40.0735 7.91848 40.139 7.68845 40.139C7.45841 40.139 7.2827 40.0735 7.16129 39.9425C7.03988 39.8115 6.97918 39.631 6.97918 39.401ZM15.6677 36.4297C15.6677 37.5863 15.3466 38.4712 14.7045 39.0847C14.0623 39.6949 13.1374 40 11.9297 40H9.96961V32.9936H12.1358C13.2508 32.9936 14.1182 33.2939 14.738 33.8945C15.3578 34.4952 15.6677 35.3402 15.6677 36.4297ZM14.46 36.468C14.46 34.7907 13.6757 33.9521 12.107 33.9521H11.115V39.0367H11.9297C13.6166 39.0367 14.46 38.1805 14.46 36.468ZM23.3978 36.4872C23.3978 37.6278 23.1118 38.5144 22.5399 39.147C21.9713 39.7796 21.1645 40.0958 20.1198 40.0958C19.0623 40.0958 18.2492 39.7827 17.6805 39.1565C17.115 38.5272 16.8323 37.6342 16.8323 36.4776C16.8323 35.3211 17.1166 34.4329 17.6853 33.8131C18.2572 33.1933 19.0719 32.8834 20.1294 32.8834C21.1709 32.8834 21.976 33.1981 22.5447 33.8275C23.1134 34.4568 23.3978 35.3434 23.3978 36.4872ZM18.0495 36.4872C18.0495 37.3498 18.2236 38.0048 18.5719 38.4521C18.9201 38.8962 19.4361 39.1182 20.1198 39.1182C20.8003 39.1182 21.3131 38.8978 21.6582 38.4569C22.0064 38.016 22.1805 37.3594 22.1805 36.4872C22.1805 35.6278 22.008 34.976 21.6629 34.5319C21.3211 34.0878 20.8099 33.8658 20.1294 33.8658C19.4425 33.8658 18.9233 34.0878 18.5719 34.5319C18.2236 34.976 18.0495 35.6278 18.0495 36.4872ZM27.8834 33.8754C27.2253 33.8754 26.7077 34.1086 26.3307 34.5751C25.9537 35.0415 25.7652 35.6853 25.7652 36.5064C25.7652 37.3658 25.9457 38.016 26.3067 38.4569C26.671 38.8978 27.1965 39.1182 27.8834 39.1182C28.1805 39.1182 28.4681 39.0895 28.746 39.0319C29.024 38.9712 29.3131 38.8946 29.6135 38.8019V39.7843C29.0639 39.992 28.4409 40.0958 27.7444 40.0958C26.7189 40.0958 25.9313 39.7859 25.3818 39.1661C24.8323 38.5431 24.5575 37.6533 24.5575 36.4968C24.5575 35.7684 24.6901 35.131 24.9553 34.5846C25.2237 34.0383 25.6102 33.6198 26.115 33.329C26.6198 33.0383 27.2125 32.8929 27.893 32.8929C28.6087 32.8929 29.27 33.0431 29.877 33.3434L29.4649 34.2971C29.2285 34.1853 28.9777 34.0878 28.7125 34.0048C28.4505 33.9185 28.1742 33.8754 27.8834 33.8754Z' fill='%23852D2E'/%3E%3C/svg%3E");
}
.document_pdf::before {
  background-image: url("data:image/svg+xml,%3Csvg width='37' height='48' viewBox='0 0 37 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36 45.6939C36 46.2026 35.5876 46.615 35.0789 46.615H1.92105C1.41237 46.615 1 46.2026 1 45.6939V1.92154C1 1.41286 1.41237 1.00049 1.92105 1.00049H19.3095C19.5438 1.00049 19.7692 1.08976 19.94 1.25014L35.7095 16.0596C35.8949 16.2337 36 16.4767 36 16.731V45.6939Z' stroke='black' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M35.9977 16.332H20.5929C20.0842 16.332 19.6719 15.9196 19.6719 15.4109V1L35.9977 16.332Z' stroke='black' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.97918 39.401C6.97918 39.1677 7.03988 38.9888 7.16129 38.8642C7.2827 38.7396 7.45841 38.6773 7.68845 38.6773C7.92168 38.6773 8.09899 38.7428 8.2204 38.8738C8.34181 39.0016 8.40251 39.1773 8.40251 39.401C8.40251 39.6278 8.34021 39.8083 8.21561 39.9425C8.0942 40.0735 7.91848 40.139 7.68845 40.139C7.45841 40.139 7.2827 40.0735 7.16129 39.9425C7.03988 39.8115 6.97918 39.631 6.97918 39.401ZM14.6086 35.1118C14.6086 35.8434 14.369 36.4041 13.8898 36.7939C13.4105 37.1837 12.7284 37.3786 11.8434 37.3786H11.115V40H9.96961V32.9936H11.9872C12.8626 32.9936 13.5175 33.1725 13.9521 33.5303C14.3898 33.8882 14.6086 34.4153 14.6086 35.1118ZM11.115 36.4153H11.7236C12.3115 36.4153 12.7428 36.3131 13.0175 36.1086C13.2923 35.9041 13.4297 35.5846 13.4297 35.1501C13.4297 34.7476 13.3067 34.4473 13.0607 34.2492C12.8147 34.0511 12.4313 33.9521 11.9105 33.9521H11.115V36.4153ZM21.7061 36.4297C21.7061 37.5863 21.385 38.4712 20.7428 39.0847C20.1006 39.6949 19.1757 40 17.968 40H16.008V32.9936H18.1741C19.2891 32.9936 20.1565 33.2939 20.7764 33.8945C21.3962 34.4952 21.7061 35.3402 21.7061 36.4297ZM20.4984 36.468C20.4984 34.7907 19.7141 33.9521 18.1454 33.9521H17.1533V39.0367H17.968C19.6549 39.0367 20.4984 38.1805 20.4984 36.468ZM24.3515 40H23.2157V32.9936H27.1694V33.9616H24.3515V36.1517H26.992V37.1246H24.3515V40Z' fill='%23852D2E'/%3E%3C/svg%3E");
}
.document__name {
  font-size: var(--font-xs);
}
.document__size {
  font-size: var(--font-xs);
  color: #b4b4b4;
  flex: 1 0 auto;
  text-align: right;
  margin-left: 30px;
}

.footer__link, .footer {
  font-size: var(--font-xxs);
  color: #807a71;
  text-decoration: none;
  line-height: 160%;
}

.logo {
  max-width: 100%;
}

.footer {
  background: #e5d9c6;
}
.footer__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "copyright menu menu info";
  padding-top: 120px;
  padding-bottom: 120px;
  grid-gap: var(--gutter);
}
@media (max-width: 1199px) {
  .footer__inner {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "copyright menu menu menu" "info info info info";
  }
}
@media (max-width: 575px) {
  .footer__inner {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "copyright copyright" "info info";
  }
}
.footer__copyright {
  grid-area: copyright;
}
.footer__logo {
  transform: translateY(-50%);
}
.footer__nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--gutter);
  grid-area: menu;
}
.footer__nav-item {
  display: block;
  margin-bottom: 15px;
}
@media (max-width: 575px) {
  .footer__nav {
    display: none;
  }
}
.footer__link_privacy {
  text-decoration: underline;
}
.footer__info {
  grid-area: info;
}
@media (max-width: 1199px) {
  .footer__info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 var(--gutter);
  }
}
@media (max-width: 767px) {
  .footer__info {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--gutter);
  }
}
.footer__info-item {
  font-size: var(--font-s);
  color: #000000;
  display: block;
  margin-bottom: 20px;
  line-height: 180%;
}
@media (max-width: 1199px) {
  .footer__info-item {
    margin-bottom: 0;
  }
}
.footer-promo__app-icons {
  display: flex;
}
@media (max-width: 1199px) {
  .footer-promo {
    grid-column: 3/5;
  }
}
@media (max-width: 767px) {
  .footer-promo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1/3;
  }
}
@media (max-width: 575px) {
  .footer-promo {
    display: block;
  }
}

.service-list {
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 767px) {
  .service-list_table {
    grid-template-columns: 1fr;
  }
}
.service-list_carousel {
  grid-template-columns: repeat(4, 1fr);
}

.service {
  display: flex;
  transition: 0.2s ease-in-out;
}
.service-list_table .service {
  align-items: center;
  gap: 30px;
  background: #f4f4f4;
  padding: 30px;
}
.service-list_table .service:hover {
  color: #852d2e;
}
.service-list_table .service .service__img-wrapper {
  filter: grayscale(1);
}
.service-list_table .service:hover .service__img-wrapper {
  filter: grayscale(0);
}
.service-list_table .service__name {
  font-size: var(--font-m);
  font-weight: 600;
}
@supports not (gap: 30px) {
  .service-list_table .service__name {
    margin-left: 30px;
  }
}
.service-list_carousel .service {
  flex-direction: column;
  align-items: start;
  min-height: 292px;
  padding: 40px;
}
.service-list_carousel .service__name {
  margin-bottom: 30px;
}
.service-list_carousel .service__img-wrapper {
  flex: 1 1 50%;
}
.service-list_carousel .service__link {
  font-size: var(--font-xs);
  text-decoration: none;
  color: #852d2e;
}

.category {
  display: flex;
  align-items: center;
  background: #f4f4f4;
  padding: 30px;
  transition: 0.2s ease-in-out;
}
.category:hover {
  color: #852d2e;
}
.category__img {
  margin-right: 30px;
}
.category__name {
  font-size: var(--font-m);
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
