/* Error: expected ";".
 *    ,
 * 59 |     @include text()
 *    |                    ^
 *    '
 *   sass\__header.scss 59:20  root stylesheet
 *   sass\elements.scss 315:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a    \2577 \a 59 \2502      @include text()\d\a    \2502                     ^\a    \2575 \a   sass\\__header.scss 59:20  root stylesheet\a   sass\\elements.scss 315:9  root stylesheet';
}
