$breakpoints: (
  "phone": 576px,
  "phone-wide": 768px,
  "tablet": 992px,
  "laptop": 1200px,
  "desktop": 1400px,
);
@mixin phone_xs{
  @media(max-width: 375px){
    @content;
  }
}
@mixin phone{
  @media(max-width: 575px){
    @content;
  }
}
@mixin phone_hrz{
  @media (max-width: 767px){
    @content;
  }
}
@mixin tablet{
  @media (max-width: 991px){
    @content;
  }
}
@mixin tablet-hrz{
  @media (max-width: 1199px){
    @content;
  }
}
@mixin laptop{
  @media(max-width: 1399px){
    @content;
  }
}
@mixin desktop{
  @media(min-width: 1400px){
    @content;
  }
}

html {
  --grid-margin: auto;
  @include desktop{
    --container-width: 1200px;
    --gutter: 30px;
    --col-width: 70px;
    
  }
  @include laptop{
    --container-width: 1140px;
    --gutter: 30px;
  }
  @include tablet-hrz{
    --container-width: 960px;
    --gutter: 20px;
  }
  @include tablet{
    --container-width: 720px;
    --gutter: 20px;
  }
  @include phone-hrz{
    --container-width: 540px;
    --gutter: 20px;
  }
  @include phone{
    --container-width: 320px;
    --gutter: 20px;
  }
  @include phone_xs{
    --grid-margin:15px;
  }
}

$offset-small: 30px;
$offset-middle: 60px;
$offset-large: 120px;

$col-width: var(--col-width);
$gutter: var(--gutter);
$container-width: 1200px;

// @mixin media($size) {
//   @if ($size != desktop) {
//     @media (max-width: map-get($map: $breakpoints, $key: $size)) {
//       @content;
//     }
//   }
//   @else {
//     @media (min-width: map-get($map: $breakpoints, $key: $size)) {
//       @content;
//     }
//   }
// }
// @mixin media($condition...) {
//   @each $type, $size in $breakpoints {
//     @if ($condition == $type) {
//       @media (max-width: $size) {
//         @content;
//       }
//     }
//   }
// }
