@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=PT+Serif&display=swap");

$color-text: #000000;
$color-elem-background: #f4f4f4;
$color-line: #dad8d5;
$color-text-semi-muted: #7d7d7d;
$color-text-muted: #b4b4b4;
$color-main: #5b423b;
$color-accent: #852d2e;
$color-contrast: #c6aa80;

$offset-small: 30px;
$offset-mid: 60px;
$offset-large: 120px;

$font-size: (
  xxl: 48px,
  xl: 36px,
  l: 24px,
  m: 20px,
  s:18px,
  xs: 16px,
  xxs: 14px,
);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
html{
    font-size: map-get($font-size, m);
}

@mixin header($size) {
  font-family: "PT Serif", serif;
  font-size: map-get($font-size, $size);
}
@mixin text($size, $weight: null, $isUppercase:false) {
    font-size: map-get($font-size, $size);
    @if $weight{
        font-weight: $weight;
    }
    @if $isUppercase{
        text-transform: uppercase;
    } 
}
%card{
    background: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.03), 0px 0px 10px rgba(0, 0, 0, 0.05), 0px 12px 24px rgba(0, 0, 0, 0.04);
}
.button {
  display: inline-block;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  border-radius: 100px;
  background: $color-main;
  transition: background-color 0.2s ease-out;
  padding: 18px 40px;
  @include text(s, 600, true);
  text-decoration: none;
  color: white;
  &:hover {
    background-color: $color-contrast;
  }
}
.link{
    text-decoration: none;
    color: $color-text;
    &:visited{
        color: $color-main;
    }
    &:hover{
        color: $color-accent;
    }
    &:active{
        color: $color-contrast;
    }
}
.list{
    padding-left: 80px;
    &__item{
        padding-left: 30px;
        margin-bottom: 50px;
        line-height: 180%;
        position: relative;
        &::marker{
            content: url(../img/marker.svg);
        }
    }
}
.sidebar-menu{
    list-style-type: none;
    padding: 15px 50px;
    max-width: 410px;
    @extend %card;
    &__item{
        padding: 30px 0;
        @include text(s, 600, true); 
        &:not(:last-of-type){
            border-bottom: 1px solid $color-line;
        }
    }
    
}
.main-menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    &__item{
        padding: 20px 0;
        @include text(s, 600, true);
    }
}
.breadcrumb{
    display: flex;
    list-style-type: none;
    &__item{
        color: $color-text-muted;
        @include text(xxs, 600);
        text-decoration: underline;
        &:not(:last-of-type)::after{
            content: '/';
            display: inline-block;
            padding: 0 10px;
        }
        &_active{
            color: $color-text-semi-muted;
            text-decoration: none;
        }
    }
}
.category{
    display: flex;
    align-items: center;
    background: $color-elem-background;
    padding: $offset-small;
    transition: 0.2s ease-in-out;
    &:hover{
        @extend %card;
        color: $color-accent;
    }
    &__img{
        margin-right: $offset-small;
    }
    &__name{
        @include text(m, 600);
    }
}
.card{
    @extend %card;
    display: flex;
    position: relative;
    &__wrapper{
        padding: $offset-small;
    }
    &__img{
        background-image: url(../img/image.png);
        background-repeat: no-repeat;
        flex: 0 0 50%;
        height: 436px;
    }
    &__overheader{
        @include text(xxs, 600, true);
        color: $color-text-muted;
        margin-bottom: 15px;
    }
    &__header{
        @include text(l);
        margin-bottom: 15px;
        line-height: 140%;
    }
    &__description{
        @include text(s);
    }
    &__button{

    }

}
