.pagination {
    display: flex;

    &__item {
        $size: 33px;
        @include box($size);
        line-height: $size;
        text-align: center;
        @include text(s);
        flex: 0 0 $size;
        &:not(:last-of-type){
            margin-left: 5px;
        }

        &_current {
            background: $color-accent;
            color: white;
            border-radius: 50%;
            cursor: unset;
        }
    }

    &__arrow {
        color: $color-accent;
        $margin: 30px;
        & svg {
            @include box(18px);
        }

        &_prev {
            margin-right: $offset-s;
            @include phone{
                margin-right: 10px;
            }
        }

        &_next {
            margin-left: $offset-s;
            @include phone{
                margin-left: 10px;
            }
        }
    }

}