mixin pagination(props)
    - let {count, current = 1, baseUrl = "#"} = props;
    .pagination 
        +button-arrow("prev")(href="#prev").pagination__arrow.pagination__arrow_prev

        - for(let i = 1; i <= count; i++)
            if (i > 4 && i != count)
                - continue;
            else if (i == 4 && i != count)
                span.pagination__item.pagination__item_dots ...
            else
                +pagination__item(i, baseUrl, (current == i))

        +button-arrow("next")(href="#next").pagination__arrow.pagination__arrow_next

mixin pagination__item(index, baseUrl, current = false)
    if current
        span.pagination__item.pagination__item_current= index
    else
        a(href= baseUrl+index).pagination__item.link= index