mixin schedule_header(calendar)
    .schedule__header(class= attributes.class)
        .schedule__inner
            +button-arrow('prev')(href="#").schedule__nav.schedule__nav_prev
            table.schedule__calendar.calendar-grid
                tr.schedule__days
                    each date in calendar.days 
                        td= date
                tr.schedule__week
                    each weekday in calendar.weekdays 
                        td= weekday
            +button-arrow('next')(href="#").schedule__nav.schedule__nav_next

mixin schedule_body(isExpand = false)
    .schedule__body
        .schedule__inner(class= !isExpand? "schedule__inner_fold js-expand-target" : "")
            table.timetable.calendar-grid
                - let rowsCount = calendar.days.length
                - for(let i= 8; i <= 21;i++)
                    tr  
                        - for(let j=0; j<rowsCount; j++)
                            - let emptyIndex = Math.ceil(Math.random() * rowsCount)
                            - let busyIndex = Math.ceil(Math.random() * rowsCount)
                            if (j != emptyIndex )
                                td.timetable__cell
                                    a.timetable__time.timetable__time_available.js-order-time.js-open(data-modal="order" href="#" data-ordertime="2020-01-12 "+i+":00")= +i+":00"
                            else if (j == busyIndex || i == busyIndex)
                                td.timetable__cell
                                    span.timetable__time= +i+":00"
                            else
                                td.timetable__cell
    if !isExpand
        .schedule__footer 
            a.button.schedule__more-link.js-expand-trigger(data-expand="")
                span.js-expand-label Развернуть все
                +button-arrow(dir, true).schedule__more-link__arrow
    

mixin schedule(calendar, isExpand)
    .schedule.schedule_single
        +schedule_header(calendar).schedule__header_single
        +schedule_body(isExpand)

mixin schedule__more-link(title, dir=null)
    a.button.schedule__more-link&attributes(attributes)
        span.schedule__more-label= title
        +button-arrow(dir, true).schedule__more-link__arrow
