.timetable {
    gap: $offset-s 0;

    &__cell {
        display: block;
        width: 100%;

        &:empty:after {
            content: "";
            display: block;
            height: 1px;
            width: 26px;
            border-bottom: 1px solid #dad8d5;
            margin: 0 auto;
        }
    }

    &__time {
        display: block;
        @include text(xxs, 600);
        text-decoration: none;
        padding: 2px 8px;
        border-radius: 20px;
        color: $color-text-semi-muted;
        transition: all 0.2s ease-in-out;
        background-color: $color-elem-background;
        &_available {
            border: $line;
            background-color: transparent;
            &:hover {
                @extend %card;
                border-color: transparent;
                color: initial;
            }
        }
    }

}