%h1 {
  @include header(h1);
}

%h2 {
  @include header(h2, true);
}

%h3 {
  @include header(h3);

}

%paragraph {
  margin-top: 1em;

  &:not(:last-child) {
    margin-bottom: $text-margin;
  }
}

%text {
  @include text(m, 400);
}

.price {
  @include text(inherit, 600);
  white-space: nowrap;
}

%tag {
  @include text(s, 600, true);
}

/*attention! global styles! поместить в самое начало результирующей табюлицы стилей*/
h1 {
  @extend %h1;
}

h2:not([class]) {
  @extend %h2;
 }

h3:not([class]) {
  @extend %h3;
}

p {
  @extend %paragraph;
}
ul:not([class]){
  list-style-position: inside;
  & li{
    list-style-type: '- ';
    @extend %paragraph;
  }
}
/*attention! global styles*/

.lead {
  @include text(h2, 300);
  line-height: 1.2;
}

.mark {
  color: $color-accent;
}

.tag {
  @extend %tag;
  color: $color-text-muted;
  &_link{
    transition: border-color 0.15s ease-in-out;
    border-bottom: 1px solid $color-line;
    &:hover{
      border-color: transparent;
    }
  }
}

.title {
  font-family: 'PT Serif';
  margin: 0;
  line-height: 1.2;
  font-weight: 400;
}