%paragraph {
  margin-top: 1em;

  &:not(:last-child) {
    margin-bottom: $text-margin;
  }
  &:first-child{
    margin-top: 0;
  }
}

%text {
  @include text(m, 400);
}


%tag {
  @include text(s, 600, true);
}

/*attention! global styles*/
$headers: ("h1", 'h2', 'h3');
@each $header in $headers {
  #{$header} {
    @include text($header);
  }
}
h1:not([class]){
  @extend .title;
}
p {
  @extend %paragraph;
}

ul:not([class]) {
  list-style-position: inside;
  
  & li {
    list-style-type: "- ";
    @extend %paragraph;
  }
}

/*attention! global styles*/

.title {
  font-family: 'PT Serif';
  margin: 0;
  line-height: 1.2;
  font-weight: 400;
}

.lead {
  @include text(h2, 300);
  line-height: 1.2;
}

.mark {
  color: $color-accent;
}

.tag {
  @extend %tag;
  color: $color-text-muted;
  
  &_link {
    transition: border-color 0.15s ease-in-out;
    border-bottom: 1px solid $color-line;

    &:hover {
      border-color: transparent;
    }
  }
}

.price {
  @include text(inherit, 600);
  white-space: nowrap;
}
