@mixin header($size, $offset: false) {
  font-family: "PT Serif", serif;
  font-size: map-get($font-size, $size);
  font-weight: 400;
  line-height: 1.4;
  @if $offset {
    margin-top: 1.8em;
    margin-bottom: $text-margin;
  }
}

@mixin text($size, $weight: null, $isUppercase: false) {
  @if size != "inherit" {
    font-size: map-get($font-size, $size);
  }

  @if $weight {
    font-weight: $weight;
  }

  @if $isUppercase {
    text-transform: uppercase;
  }
}

@mixin box($size) {
  width: $size;
  height: $size;
}
@mixin ratio($ratio){
  position: relative;
  &:before {
    content: "";
    display: block;
    padding-top: $ratio * 100%;
  }
}
@mixin flex-gap($horizontal, $vertical: 0) {
    & > :not(:last-child) {
      margin-right: $horizontal;
      margin-bottom: $vertical;
  }
}
@mixin arrow($size) {
  &::before {
    content: "";
    @extend %rounded;
    @extend %absolute-centered;
    @include box($size);
    background: white;
    display: block;
    right: 0px;
    flex: 0 0 $size;
  }
  &::after {
    content: "";
    @extend %absolute-centered;
    @include box($size);
    display: block;
    right: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 2 27 29' fill=' %23852d2e' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.6067 24.2132L24.2133 13.6066H3.00009L13.6067 24.2132Z' fill=' %23852d2e' stroke=' %23852d2e' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%) rotateZ(0);
    transition: transform 0.3s ease-out;
    cursor: pointer;
  }
}
