.header-mobile {
    display: none;

    @include phone_hrz {
        display: block;
    }

    &__inner {
        position: relative;
        z-index: 10;
        background: white;
        border-bottom: $line;
    }

    &__top {
        border-bottom: $line;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 95px;
    }

    &__menu {
        display: block;
        text-align: center;
        list-style-type: none;
    }
}



.dropdown-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: $offset-m;
    padding-top: 170px;
    height: 100vh;
    overflow-y: scroll;
    background-color: white;
    text-align: center;
    z-index: 5;

    &_visible {
        display: block;
    }

    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include flex-gap(0, $offset-m);

    }
    
}

/*для body*/
.no-scrollable {
    overflow: hidden;
    max-height: 100vh;
}