.header-desktop {
    @include phone_hrz {
        display: none;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
        position: relative;
        height: 120px;
        @include desktop-middle {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-areas: "logo info info info info contacts";
            grid-gap: var(--gutter);
            // @extend %container;
            max-width: var(--container-width);
            margin: 0 auto;
            padding: 0;
        }
        

        @include tablet {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-areas: "logo logo logo info info info info contacts contacts mobile mobile mobile";
        }
    }

    &__logo {
        grid-area: logo;
    }

    &__summary {
        flex: 0 0 var(--container-width);
        grid-area: info;

    }

    &__contacts {
        flex: 0 2 250px;
        grid-area: contacts;
        @include phone_hrz {
            display: none;
        }
    }
    &__schedule {
        display: none;
        @include text(xxs);
        @include desktop-middle {
            display: block;
        }
    }
    
    &__phone {
        font-size: 24px;
        white-space: nowrap;
        @include desktop-middle{
            font-size: 20px;
        }
        @include tablet {
            display: none;
        }
    }
    &__navbar{
        grid-area: mobile;
    }
    
    &__bottom {
        display: flex;
        justify-content: center;
        border-top: $line;
        box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.04);

    }


    &__menu {
        flex: 0 0 var(--container-width);
    }

    &__button {
        grid-area: button;
        @include text(xs);

        @include desktop-middle {
            @include text(xxs);
        }

        @include tablet {
            display: none;
        }
    }
}

.header-summary {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-areas: "address schedule login button";
    align-items: center;
    gap: var(--gutter);
    margin: 0 auto;
    flex: 0 0 var(--container-width);

    @include desktop-middle {
        grid-template-columns: repeat(8, minmax(0, 1fr));
        grid-template-areas: "address address address login login button button button";
    }

    @include tablet_hrz {
        grid-template-columns: repeat(7, minmax(0, 1fr));
        grid-template-areas: "address address login login button button button";
    }

    @include tablet {
        display: block;
    }

    &__address {
        grid-area: address;

        @include phone_hrz {
            display: flex;
        }
    }

    &__schedule {
        grid-area: schedule;

        @include desktop-middle {
            display: none;
        }
    }

    &__account {
        grid-area: login;

        @include tablet {
            display: none;
        }
    }
}