.header {
  &__logo {
    flex: 0 2 250px;

    @include phone_hrz {
      max-width: 160px;
    }

    @include phone {
      max-width: 110px;
    }
  }

  &__link {
    @include text(inherit, 600);
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
  }
}