.control {
  display: block;
  position: relative;
  &__input {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  &__label {
    display: flex;
    align-items: center;
    @include text(s);
    
    &:hover::before {
      background: $color-accent;
    }
    &::before {
      content: "";
      display: block;
      flex: 0 0 36px;
      @include box(36px);
      margin-right: 1.5rem;
      transition: all .15s ease-in;
      background: $color-elem-background;
    }
  }
  &__input:checked + &__label::before {
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='36' height='36' fill='%23852D2E'/%3E%3Cpath d='M9 17.3226L16.6905 25L28 11' stroke='%23F4F4F4' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }
  // &__input:focus + &__label::before{
  //   background: $color-accent;
  // }
}
