.control-payment {
  &__label {
    line-height: 3.5rem;
    white-space: nowrap;
    padding: 0 2rem;
    display: block;
    @extend %tag;
    align-content: center;
    padding: 0 2rem;
    background: $color-elem-background;
    transition: all 0.2s ease-in;

    &_rounded {
      border: $line;
      border-color: transparent;
      border-radius: 50px;

      &:hover {
        border-color: $color-line;
      }
    }
  }

  &__icon {
    margin-right: 1rem;
    vertical-align: middle;
  }

  &__name {
    vertical-align: middle;
  }

  &__input:checked+&__label {
    color: $color-accent;
    background-color: white;
    border-color: $color-line;

  }
}