mixin select(props)
    .select(class= attributes.class)
        if props.label
            label.select__label(for= attributes.id)= props.label
        select.select__item(id=attributes.id, name= attributes.name)
            if props.placeholder
                option(selected disabled hidden)= props.placeholder 
            each option, index in props.options
                option(value= index,selected= (index == 0 && !props.placeholder))= option
        +button-arrow(null, true).select__icon
