.select {
    position: relative;
    height: 4rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background-color, box-shadow 0.2s ease-in;
    padding-right: 0;
    background-color: $color-elem-background;
    border-radius: 50px;

    
    &:focus-within {
        @extend %input;
        background: white;
    }
    
    &_inline {
        border-radius: unset;
        background-color: unset;
        width: 100%;
        &:focus-within{
            box-shadow: none;
            background: unset;
        }
    }

    &__icon {
        @extend %absolute-centered;
        @include box(33px);
        right: 15px;
        z-index: 0;
    }

    &__label {
        display: block;
        font-size: 12px;
        line-height: 1rem;
        font-weight: 600;
        color: $color-text-muted;
    }

    &__item {
        display: block;
        width: 100%;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background: transparent;
        margin: 0;
        border: none;
        font-family: inherit;
        @extend.tag;
        overflow: hidden;
        text-overflow: ellipsis;
        z-index: 5;
        padding-right: 2.5rem;
    }

    &__item:active~&__icon::after {
        transform: translateY(-50%) rotateZ(-180deg);
    }
}