.select {
    position: relative;
    height: 4rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background-color, box-shadow 0.2s ease-in;
    padding-right: 3rem;
    background-color: $color-elem-background;
    border-radius: 50px;

    &_inline {
        border-radius: unset;
        background-color: unset;
    }

    &:focus-within {
        @extend %input;
        background: white;

    }

    &__icon {
        @include arrow(33px);

        &::before,
        &::after {
            right: 15px;
        }
    }

    &__label {
        display: block;
        font-size: 12px;
        line-height: 1rem;
        font-weight: 600;
        color: $color-text-muted;
    }

    &__item {
        display: block;
        width: 100%;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background: transparent;
        margin: 0;
        border: none;
        font-family: inherit;
        @extend.tag;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__item:focus~&__icon::after {
        transform: translateY(-50%) rotateZ(-180deg);
    }
}