.auth-link {
    justify-self: end;
}

.modal-tabs {
    display: flex;
    @include flex-gap($gutter);

    &__item {
        line-height: 1.2;

        &.js-active {
            color: $color-text-semi-muted;
            border-color: transparent;
        }
    }

}

.modal-tab-page {

    &:target {
        display: block;
        // animation: fadeIn 0.3s ease-in;
    }

    &[data-filter]:not(.js-active) {
        display: none;
    }

}