.auth-link {
    justify-self: end;
}

.modal-tabs {
    display: flex;
    @include flex-gap($gutter);

    &__item {
        line-height: 1.4;

        &.js-active {
            color: $color-text-semi-muted;
            border-color: transparent;
        }
    }

}

.modal-tab-page {
    &[data-filter]:not(.js-active) {
        display: none;
    }

}
.intro-image{
    margin-bottom: 1rem;
}