.document {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding: $offset-s 0;
  border-bottom: $line;

  &:first-of-type {
    border-top: $line;
  }

  &::before {
    display: block;
    flex: 0 0 37px;
    width: 37px;
    height: 48px;
    margin-right: $offset-s;
    background-image: url("data:image/svg+xml,%3Csvg width='37' height='48' viewBox='0 0 37 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36 45.6939C36 46.2026 35.5876 46.615 35.0789 46.615H1.92105C1.41237 46.615 1 46.2026 1 45.6939V1.92154C1 1.41286 1.41237 1.00049 1.92105 1.00049H19.3095C19.5438 1.00049 19.7692 1.08976 19.94 1.25014L35.7095 16.0596C35.8949 16.2337 36 16.4767 36 16.731V45.6939Z' stroke='black' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M35.9977 16.332H20.5929C20.0842 16.332 19.6719 15.9196 19.6719 15.4109V1L35.9977 16.332Z' stroke='black' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    content: "";
  }

  &::after {
    position: absolute;
    left: 7px;
    display: block;
    color: $color-accent;
    font-weight: 500;
    font-size: 9.6px;
    font-family: inherit;
    line-height: 1;
    text-transform: uppercase;
    transform: translateY(13px);
    content: "."attr(data-format);
  }


  &__name {
    @include text(xs);
  }

  &__size {
    @include text(xs);
    flex: 1 0 auto;
    margin-left: $offset-s;
    color: $color-text-muted;
    text-align: right;
  }

}
