.arrow {
    display: none;
}

.button-arrow {
    @include box(33px);
    @extend %rounded;
    transition: background-color 0.2s ease-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $color-accent;
    background-color: white;
    flex: 0 0 auto;

    &:hover {
        background-color: $color-main;
        color: white;
    }
    
    &__icon {
        @include box(50%);
        transition: transform 0.2s ease-in-out;
    }


    &_next &__icon {
        transform: rotateZ(-90deg);
    }

    &_prev &__icon{
        transform: rotateZ(90deg);
    }

    &_up &__icon{
        transform: rotateZ(180deg);
    }

}