mixin button-arrow(dir = "next")
    a.button-arrow(href= attributes.href, class= [`button-arrow_${dir}`, attributes.class])
        svg.button-arrow__icon #[use(xlink:href="icons.svg#arrow")]
        //- задавать направление