.dictionary {
  display: grid;
  grid-gap: $offset-m;

  &-filter {
    display: flex;
    justify-content: space-between;
    @include flex-gap(10px);

    @include tablet {
      overflow-x: scroll;
      padding: 15px 0;
    }

    &__item {
      // @include customFont(26px, 700, 1.8);
      @include text(h3, 700);
      cursor: pointer;

      &:hover {
        color: $color-accent;
      }

      &.js-filter_active {
        color: $color-accent;
      }
    }
  }

  &__inner {}

  &__group {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-template-areas: "letter list list list list";
    grid-gap: $gutter;

    &:hover {
      color: $color-accent;
    }
  }

  &__letter {
    @include header(h1);
    grid-area: letter;
    line-height: 1.8rem;
    align-self: start;
    justify-self: center;
  }

  &__item-list {
    grid-area: list;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: $gutter;

    @include phone {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    font-weight: 600;
  }
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 22px;
  border-radius: 100px;
  background-color: $color-elem-background;
  cursor: pointer;

  &__button {
    content: "";
    display: inline-block;
    position: relative;
    transform: translateX(-50%);
    @include box(28px);
    background-color: $color-accent;
    border-radius: 50%;
    transition: transform 0.2s ease-out;
  }

  &__checkbox {
    position: absolute;
    height: 1px;
    width: 1px;
    opacity: 0;
  }

  &__checkbox:checked+&__button {
    transform: translateX(50%);
  }
}

.switch {
  &__block {
    display: flex;
    @include flex-gap(20px);
    margin-bottom: $offset-s;
    align-items: center;
  }

  &__label {
    @extend .dictionary-filter__item;

    &_active {
      color: $color-accent;
    }

  }
}

.section {
  &_hidden {
    display: none;
  }
}