.arrow {
    display: none;
}

.button-arrow {
    @include box(33px);
    @extend %rounded;
    transition: background-color 0.2s ease-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $color-accent;
    background-color: white;
    flex: 0 0 auto;

    &__icon {
        @include box(24px);
    }

    &:hover {
        background-color: $color-main;
        color: white;
    }

    &_next {
        transform: rotateZ(-90deg);
    }

    &_prev {
        transform: rotateZ(90deg);
    }

    &_up {
        transform: rotateZ(180deg);
    }

}