%lead{
    @include text(h2, 300);
}
.mark{
    color: $color-accent;
}
%text{
    @include text(m, 400);
}
%price{
    @include text(m, 600);
    white-space: nowrap;
}
%tag {
    @include text(s,600,true);
}
.tag {
    @extend %tag;
    color: $color-text-muted;
}
.title{
    @include header(h1);
}