.price-list {
  width: 100%;
  border-collapse: collapse;
  @extend %text;

  &__row {
    &:not(:last-of-type) {
      border-bottom: $line;
    }

    & td {
      padding: 20px 0;
    }

    & td:last-of-type {
      text-align: right;
    }
  }
}