.button {
    $height: 65px;
    display: inline-block;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
    border-radius: 100px;
    background: $color-main;
    transition: background-color 0.2s ease-out;
    padding: 0 40px;
    @include text(s, 600, true);
    line-height: $height;
    height: $height;
    text-decoration: none;
    text-align: center;
    color: white;
  
    &:hover {
      background-color: $color-contrast;
    }
    &_light{
      background: white;
      color: $color-accent;
      box-shadow: 1px 8px 20px rgba(0, 0, 0, 0.05);
      &:hover{
        color: white;
        background: $color-main;
      }
      &:active{
        background: $color-accent;
      }
    }

    &-arrow{
      @include box($height);
      @extend %rounded;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover{
        background: $color-main;
        color: white;
      }
      &_next{
        transform: rotateZ(-90deg);
      }
      &_prev{
        transform: rotateZ(90deg);
      }
      &_up{
        transform: rotateZ(180deg);
      }
      
    }

  }