.schedule {
  // border-spacing: $offset-middle $offset-small;
  // text-align: center;
  &-grid {
    // padding: 0 $offset-middle;
    flex: 0 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    & tbody,
    tr {
      display: contents;
    }
  }
  &_timetable {
    grid-row-gap: $offset-small;
  }

  &__time {
    border: $line;
    height: 20px;
    text-decoration: none;
    padding: 2px 6px;
    border-radius: 20px;
    color: $color-text-semi-muted;
  }
  &__cell {
    @include text(xxs, 600);
    &:empty:after {
      content: "";
      display: block;
      height: 1px;
      width: 26px;
      border-bottom: 1px solid #dad8d5;
      margin: 0 auto;
    }
  }
  &__inner {
    // height: 200px;
    // overflow-y: scroll;
    transition: height 0.5s ease-in;
    &_expanded {
      height: auto;
      overflow-y: visible;
    }
  }

  &-wrapper {
    border-radius: 38px;
    @include phone {
      padding: $offset-small 20px;
    }
  }
  &-header {
    background-color: $color-elem-background;
  }
}
.schedule-page-grid {
  display: grid;
  grid-template-columns: 3fr 4fr 5fr;
  gap: $gutter;

  @include tablet_hrz {
    grid-template-columns: repeat(2, 1fr);
  }
  @include phone {
    grid-template-columns: 1fr;
  }

  &__calendar {
    padding: 1rem 2rem;
    // @include tablet_hrz {
    //   border-left: $line;
    //   border-radius: 0 50px 50px 0;
    // }
    // @include tablet {
    //   grid-column: 1/3;
    //   border-left: 0;
    //   border-radius: 50px;
    // }
    // @include phone {
    //   border-left: $line;
    //   border-radius: 0 50px 50px 0;
    //   grid-column: auto;
    // }
  }
}

.calendar {
  // text-align: center;
  position: relative;
  &__days {
    @include text(s, 600);
    font-size: 12px;
  }
  &__week {
    @extend %tag;
    color: $color-accent;
  }
  &__nav {
    $offset: 15px;
    @extend %absolute-centered;
    @include phone {
      @include box(24px);
      $offset: 5px;
    }
    &_prev {
      left: $offset;
    }
    &_next {
      right: $offset;
    }
  }
}

