.schedule {
  // border-spacing: $offset-middle $offset-small;
  // text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  &_timetable{
    grid-row-gap: $offset-small ;
  }
  flex: 0 0 auto;
  & tbody,
  tr {
    display: contents;
  }

  &__time {
    border: 1px solid $color-line;
    height: 20px;
    text-decoration: none;
    padding: 2px 6px;
    border-radius: 20px;
    color: $color-text-semi-muted;
  }
  &__cell {
    @include text(xxs, 600);
    &_empty:after {
      content: "";
      display: block;
      height: 1px;
      width: 26px;
      border-bottom: 1px solid #dad8d5;
      margin: 0 auto;
    }
  }
  &__inner {
    height: 200px;
    overflow-y: scroll;
    transition: height 0.5s ease-in;
    &_expanded {
      height: auto;
      overflow-y: visible;
    }
  }

  &-wrapper {
    padding: 15px $offset-middle;
    @include phone{
      padding: $offset-small 20px;
    }
  }
  &-header {
    background-color: $color-elem-background;
    border-radius: 38px;
    
  }
}

.calendar {
  // text-align: center;
  position: relative;
  &__days {
    @include text(s, 600);
    font-size: 12px;
  }
  &__week {
    @extend %tag;
    color: $color-accent;
  }
  &__nav{
    $offset: 15px;
    @extend %absolute-centered;
    @include phone{
      @include box(24px);
      $offset: 5px;
    }
    &_prev{
      left: $offset;
    }
    &_next{
      right:$offset;
    }
  }
}
