.schedule {
  width: 100%;
  border-spacing: $offset-middle $offset-small;
  text-align: center;
  &__time {
    border: 1px solid $color-line;
    height: 25px;
    text-decoration: none;
    line-height: 25px;
    padding: 2px 10px;
    border-radius: 20px;
    color: $color-text-semi-muted;
  }
  &__cell {
    @include text(xxs, 600);
    &_empty:after {
      content: "";
      display: block;
      height: 1px;
      width: 26px;
      border-bottom: 1px solid #dad8d5;
      margin: 0 auto;
    }
  }
  &__wrapper {
    height: 200px;
    overflow-y: scroll;
    transition: height 0.5s ease-in;
    &_expanded{
        height: auto;
        overflow-y: visible;
    }
  }

  &-wrapper {
    max-width: 800px;
  }
}
.calendar {
  width: 100%;
  border-spacing: $offset-middle 0;
  text-align: center;
  background-color: $color-elem-background;
  padding: 15px 40px;
  border-radius: 38px;
  &__days {
    @include text(s, 600);
    font-size: 12px;
  }
  &__weekday {
    @include text(xs, 600, true);
    color: $color-accent;
  }
}
