/*нужно только для js*/
.filter-item {
  &_hidden {
    display: none;
  }
}
@mixin filter_group {
  position: relative;
  &::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    height: 100%;
    width: $gutter;
    background-color: $color-elem-background;
    border-right: $line;
  }
}
/*горизонтальный фильтр в начале страницы*/
.filter {
  &__wrapper {
    display: grid;
    grid-template-areas: 'place spec week';
    // gap: $gutter;
    background: $color-elem-background;
    border-radius: 50px;

    @include tablet_hrz {
      background: none;
      border-radius: 0;
      // gap: $gutter 0;
    }

    @include tablet_hrz {
      grid-template-areas: 'place place''spec week';
    }

    @include tablet {
      grid-template-areas: 'place spec''week week';
    }

    @include phone {
      grid-template-areas: 'place''spec''week';
    }
  }

  &__item {
    padding: 1rem 2rem;
    @include tablet_hrz {
      background-color: $color-elem-background;
    }

    &_place {
      grid-area: place;
      @include tablet_hrz {
        border-radius: 50px;
      }
      @include tablet {
        border-radius: 50px 0 0 50px;
        @include filter_group;
      }
      @include phone{
        &::after{
          content: none;
        }
      }
    }
    
    &_spec {
      grid-area: spec;
      // border-left: $line;

      @include tablet_hrz {
        border-radius: 50px 0 0 50px;
        @include filter_group;
      }

      @include tablet {
        border-radius: 0 50px 50px 0;
        &::after{
          content: none;
        }
      }
    }

    &_week {
      grid-area: week;
      @include tablet_hrz {
        border-radius: 0 50px 50px 0;
      }
      @include tablet{
        border-radius: 50px;
      }
    }

    @include phone{
      border-radius: 50px;
    }

    @include desktop_only {
      &:not(:first-of-type) {
        // border-left: $line;
      }
    }
    
    // @include tablet_hrz {
    //   background: $color-elem-background;
    //   border-left: none;
    //   &:first-of-type {
    //     border-radius: 50px;
    //     grid-column: 1/3;
    //   }
    //   &:nth-of-type(2){
    //   }
    // }
    // @include tablet{
    //   &:first-of-type {
    //     border-radius:  50px 0 0 50px;
    //     grid-column: auto;
    //   }
    //   &:nth-of-type(2){
    //     border-radius: 0 50px 50px 0;
    //   }

    // }
    // @include phone{
    //   &:nth-of-type(n){
    //     grid-column: auto;
    //     border-left: none;
    //     border-radius:  50px;
    //   }
    // }
  }
}

.price-filter {
  grid-template-columns: repeat(2, 1fr);
}