.intro {
  max-width: 1400px;
  position: relative;
  color: white;

  &__video-wrapper {
    position: relative;
    padding-top: 50%;
    &::before {
      content: "";
      display: block;
      background: black;
      opacity: 0.5;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
    @include phone {
      background: none;
    }
  }

  &__bckg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: $offset-large 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    // flex-flow: wrap;
    z-index: 5;
    @include tablet {
      padding: $offset-small 0;
    }
    @include phone {
      position: relative;
      flex-wrap: wrap;
      @include flex-gap($offset-small);
    }
  }
  &__link {
    @extend .button_light;
    @include phone{
      background: $color-main;
      color: white;
    }
  }
  &__content {
    flex-basis: clamp(320px, 50%, 800px);
    flex-wrap: wrap;
    @include flex-gap($offset-small);
    line-height: 1.8;
    @include text(h3, 300);
    @include phone {
      color: $color-text;
    }
  }
}
