.list {
    padding-left: 80px;
    @include phone_hrz{
        padding-left: 30px;
    }
    &__item {
      display: block;
      padding-left: 30px;
      margin-bottom: $text-margin;
      &::before {
        content: url("data:image/svg+xml,%3Csvg width='80' height='15' viewBox='0 0 80 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='80' height='15' fill='%23852D2E'/%3E%3C/svg%3E");
        position: absolute;
        left: 0;
        @include phone_hrz{
          content: url("data:image/svg+xml,%3Csvg width='30' height='15' viewBox='0 0 30 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='30' height='15' fill='%23852D2E'/%3E%3C/svg%3E");
        }
      }
    }
  }