.main-menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  @include phone_hrz{
    display: none;
    transition: 0.3s ease-in;
    transform: translateX(-100vw);
    text-align: center;
    padding: $offset-middle;
    &_opened{
      display: block;
      transform: translateX(0);
    }
  }
  
  &__item {
    position: relative;
    padding: 20px 0;
    @include text(xs, 600, true);
  }
  &__item:hover &__submenu{
    display: block;
    animation: fadeIn 0.5s;
  }
  &__item:not(:hover) &__submenu{
    animation: fadeOut 0.5s;
  }
  &__wrapper {
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.04);
  }
  &__submenu{
    display: none;
    position:absolute;
    top: 100%;
    padding: 0;
  }
}

