%table-row {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: $gutter;
}
.table {
  &__row {
    @extend %table-row;
    align-items: center;
    padding: 1rem $offset-small;
    @include phone_hrz {
      grid-template-columns: 1fr;
    }
    // padding: $offset-small 0;
  }
  &__head {
    // padding: 1rem $gutter;
    @include text(xxs);
    color: $color-text-muted;
    border-top: $line;
    @include phone_hrz {
      display: none;
    }
  }
}

.order {
  &__head {
    @include text(xxs);
    // & > :first-child {
    //   @include text(inherit, 600);
    //   color: $color-accent;
    // }

    &::before,
    &::after {
      right: 15px;
      @include phone_hrz {
        top: 30px;
      }
    }
  }
  &__date{
    @include text(inherit, 600);
    color: $color-accent;
  }
  &:nth-of-type(2n + 1) {
    background: $color-elem-background;
  }

  &__more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include text(xs);
    @include phone_hrz {
      flex-direction: column;
      @include flex-gap(30px, 30px);
      align-items: stretch;
    }
  }
  &__button {
    @include text(xxs, 400);
    line-height: 3em;
    &_cancel{
      color: $color-text;
    }
    
  }
  &__status {
    line-height: 1.5rem;
    padding: 8px;
    text-align: center;
    font-size: 12px;
    border-radius: 3px;
    color: #c3811b;
    background-color: #ffedd2;
    &_unpaid {
      color: #ba5751;
      background-color: #fad5d3;
    }
    &_paid {
      color: #536f62;
      background-color: #bee3d2;
    }
  }
  &__actions {
    display: grid;
    grid-template-columns: repeat(auto-fill, auto);
    grid-auto-flow: column;
    grid-auto-flow: row;
    gap: 20px;
    
    
    @include phone_hrz {
      grid-template-columns: auto;
      justify-content: start;
    }
  }
}
