%table-row{
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: $gutter;
}
.table { 
  &__row {
    @extend %table-row;
    align-items: center;
    @include phone_hrz{
      grid-template-columns: 1fr;
    }
    padding: $offset-small 0;
  }
  &__head {
    padding: 1rem $gutter;  
    @include text(xs, 600);
    color: $color-text-muted;
    border-top: 1px solid $color-line;
    border-bottom: 1px solid $color-line;
    // padding: 20px 0;
    @include phone_hrz{
      display: none;
    }
  }
}

.order {
  padding: 0 30px;
  &__head{
    & > :first-child{
      @include text(inherit, 600);
      color: $color-accent;
    }
    &::before, &::after{
      right: 15px;
      @include phone_hrz{
        top: 30px;
      }
    }
    
  }
  &:nth-of-type(2n + 1) {
    background: $color-elem-background;
  }
  &__more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include phone_hrz{
      flex-direction: column;
      @include flex-gap(30px, 30px);
      align-items: stretch;
    }
  }
  &__button {
    &_cancel {
      background: transparent;
      color: $color-accent;
      padding: 0;
      &:hover{
        background: transparent;
      }
    }
  }
  &__status {
    display: inline-block;
    padding: 0.5rem 0;
    text-align: center;
    @include text(xxs, 600, true);
    font-size: 13px;
    background: #FFE4BC;
    width: 100px;
  }
  &__actions{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    @include flex-gap(20px);
    @include phone_hrz{
      justify-content: space-between;
    }
  }
  &_paid &__status {
    background: #bee3d2;
  }
  &_unpaid &__status {
    background: #ffb6b2;
  }
  &__price {
    font-weight: 600;
  }
}
