.sidebar-menu {
  list-style-type: none;
  padding: 15px 50px;
  max-width: 410px;
  @extend %card;
  
  &__item {
    display: block;
    padding: 1.5rem 0;
    @extend %tag;

    &:not(:last-of-type) {
      border-bottom: 1px solid $color-line;
    }
  }
}