.spoiler {

    &[open] &__header::after {
      transform: translateY(-50%) rotateZ(-180deg);
    }
    &__header{
      list-style: none;
      position: relative;
      // padding: $offset-small 0;
      &::-webkit-details-marker{
        display: none;
      }
      @include arrow(33px);
    }
    &__more{
        padding: $offset-small 0;
    }
    &[open] > &__more {
      animation: fadeIn 0.5s;
    }
  }