.input-tip {
  // @extend %footer-font;
}
.account {
  display: grid;
  grid-template-columns: 5fr 3fr;
  align-items: center;
  gap: $gutter;
  &__input {
    display: contents;
  }
  .tag {
    grid-column: 1/3;
  }
}

