/*структура любой детальной страницы*/
.content {
    padding-top: $offset-large;

    &_grid {
        display: grid;
        grid-template-columns: 8fr 4fr;
        grid-gap: var(--gutter);

        @media (max-width: 576px) {
            display: block;
        }
    }

    &__left-menu {
        position: sticky;
        top: $offset-middle;

        &-wrapper {
            position: relative;
        }

        @media (max-width: 576px) {
            display: none;
        }
    }
}