.title{
    @include header(h1);
}
.about{
    line-height: 1.4;
    max-width: 800px;
    &__heading{
        margin-bottom: $offset-small;
    }
    &_single{
      margin-bottom: $offset-middle;  
    }
}