    .page-grid{
    display: grid;
    grid-gap: $gutter;
    grid-template-columns: 8fr 4fr;
    // grid-template-areas: 'content sidebar';
    &_reverse{
        grid-template-columns: 4fr 8fr;
    }
    // &__content{
    //     grid-area: content;
    // }
    &__sidebar{
        z-index: 10;
        padding: $offset-large 0;
        @include tablet{
            display: none;
        }
    }
    @include tablet{
        grid-template-columns: auto;
    }
}
.page-block{
    margin: $offset-large 0;
    // display: contents;
    position: relative;
    z-index: 1;
    &_wide{
        grid-column: 1/3;
    }
    &_background{
        margin: 0;
        padding: $offset-large 0;
        background: $color-elem-background;
        &-wide{    
            background: none;        
            &::before{
                content: "";
                width: 100vw;
                background: $color-elem-background;
                position: absolute;
                height:100%;
                top: 0;
                z-index: -10;
                transform: translateX(calc(var(--container-width)/2 - 50%));
            }
        }
    }
    
}