.page {
  &__grid {
    display: grid;
    column-gap: $gutter;
    grid-template-columns: 8fr 4fr;
    grid-template-areas: 'content sidebar';

    @include tablet {
      grid-template-columns: 1fr;
      column-gap: 0;
      grid-template-areas: "sidebar""content";
    }
  }

  &__content {
    grid-area: content;

    p,
    img,
    ul,
    div:not([class]) {
      margin-bottom: $text-margin;

      &:last-child {
        margin-bottom: unset;
      }
    }
  }

  &__sidebar {
    grid-area: sidebar;
    position: relative;
    padding: $offset-l 0;

    @include tablet {
      padding-top: $offset-m;
      padding-bottom: 0;
    }

    &_with-banner {
      display: grid;
      align-content: start;
      gap: $offset-s;
    }

  }

  &__menu {
    position: sticky;
    top: $offset-m;
    z-index: 10;

    @include tablet {
      position: absolute;
      position: relative;
      top: unset;
      width: 100%;
      z-index: unset;
    }

    @at-root {
      .page__sidebar_with-banner & {
        position: static;
      }
    }
  }

  &__intro {
    margin-top: calc(-1*var(--custom-header));
  }
}