.page-section {
    margin: $offset-l 0;
    position: relative;
    z-index: 1;

    &__pagination {
        margin-top: $offset-m;
    }

    &_wide {
        grid-column: 1/3;
    }

    &_background {
        margin: 0;
        padding: $offset-l 0;
        background-color: $color-elem-background;

        @at-root {
            .container &::before {
                content: "";
                width: 100vw;
                background-color: inherit;
                position: absolute;
                height: 100%;
                top: 0;
                z-index: -10;
                transform: translateX(calc(var(--container-width) / 2 - 50%));
            }
        }
    }

    &_centered {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: clamp(300px, 80%, 800px);
        margin: var(--offset-large) auto;
        text-align: center;
    }

    &_docs {
        &:not(:last-of-type) {
            margin-bottom: $offset-m;
        }
    }

    &_docs+&_docs {
        margin-top: 0;
    }

    &_no-offset {
        &_top {
            margin-top: 0;
        }

        &_bottom {
            margin-bottom: 0;
        }
    }

    >.title {
        margin-bottom: $offset-s;
    }
}