.page {
  &__grid {
    display: grid;
    column-gap: $gutter;
    grid-template-columns: 8fr 4fr;
    grid-template-areas: 'content sidebar';

    @include tablet {
      grid-template-columns: 1fr;
      column-gap: 0;
    }
  }

  &__content {
    grid-area: content;
  }

  &__sidebar {
    grid-area: sidebar;
    position: relative;
    z-index: 10;
    padding: $offset-l 0;

    @include tablet {
      display: none;
    }

    &_with-banner {
      display: grid;
      align-content: start;
      gap: $offset-s;
    }

  }

  &__menu {
    position: sticky;
    top: $offset-m;
    max-width: 410px;

    @at-root {
      .page__sidebar_with-banner & {
        position: static;
      }
    }
  }

  &__intro {
    margin-top: calc(-1*var(--custom-header));
  }
}