.page-header {
  padding: 45px 0 55px;
  background-color: $color-elem-background;

  &_overflow {
    padding-bottom: calc(55px + var(--custom-header));
  }

  &_bskg {
    &-pill {
      background-image: url("bckg.svg#pill");
      background-size: 200px;

      &::after {
        background-position-y: 50px;
      }
    }

    &-cross {
      background-image: url("bckg.svg#cross");
      background-size: 300px;

      &::after {
        background-position-y: -192px;
      }
    }

    &-stethoscope {
      background-image: url("bckg.svg#stethoscope");
      background-size: 550px;
      background-position: left bottom;

      &::after {
        background-position-y: 385px;
      }
    }

    &-syringe {
      background-image: url("bckg.svg#syringe");
      background-size: 250px;
      background-position: right bottom;

      &::after {
        background-position-y: 224px;
      }
    }
  }

  &__inner {
    &_extra {
      margin-top: $offset-m;
    }

  }
}