.about{
    max-width: 800px;
    &__title{
        margin-bottom: $offset-s;
    }
    &__desc{
      @include header(h1);
      margin: 0;
    }
    &_single{
      margin-bottom: $offset-m;  
    }
}