.card {
  @extend %card;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "content image";
  grid-column-gap: $gutter;
  position: relative;
  justify-content: stretch;

  @include phone_hrz {
    grid-template-columns: 1fr;
    grid-template-areas: "image""content";
  }

  /*card elements*/
  &__inner {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: $offset-s;
    justify-content: space-between;
    padding-right: 0;

    @include phone_hrz {
      padding-right: $offset-s;
    }

    &_popup {
      padding-left: 0;
    }
  }

  &__title {
    @include text(h3, 400);
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 1.4;
  }

  &__meta {
    margin-bottom: 1em;
  }

  &__description {
    @include text(xs);
    flex: 1;
    margin-bottom: $offset-s;
    line-height: 1.6;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    align-items: center;
  }

  &__img {
    display: block;
    @extend %fill;
   
    &-wrapper {
      grid-area: image;
      max-height: 100%;
      max-width: 100%;
      filter: grayscale(1);
      transition: filter 0.2s ease-out;
      overflow: hidden;
      &:hover {
        filter: grayscale(0);
      }
    }
  }
}