mixin card(props)
    .card(class= attributes.class)
        .card__inner
            .card__header 
                .card__meta.tag= props.meta
                h3.card__title(class= attributes.class + "__title")= props.title
            .card__body
                block
            .card__footer
                a.button(href="#")= props.button
        .card__img-wrapper
            img.card__img(src= props.image)
