include /layout/mixins

form.form(action="#")
    +form-step
        +input({label: "Ваше имя*"})#name(name="name" type="text" placeholder="Иванов Иван Иванович")
        +input({label: "Ваш пароль*", icon: "password"})#password(name="password" type="password")
        a.tag.tag_link.auth-link(href="#") Забыли пароль?
    //-         span.input__icon.input.input__icon_password-hidden.js-toggle

    +form-step.form__footer
        .button войти