include /layout/mixins
.modal__header
    h3.tag Выберите филиал клиники
.modal__body
    form.form(action="#")
        +form-step
            +select({label:"Город", options: ["Краснодар", "Адыгейск", "Новороссийск"]})#filial
            +select({label:"Филиал", options: ["Ул. московская, 40", "Ул. московская, 40", "Ул. московская, 40"]})#filial
        +form-step.form__footer
            button.button Выбрать
