include /layout/mixins
.modal__header 
    +doctor-card({name:"Лымарь Марина Петровна", meta: "Акушер-гинеколог", desc: "Приём от 2500 руб."}, footer= false).doctor-card_fold(src= 'assets/img/lady.jpg')
.modal__body
    form.form(action="#", onsubmit="completeOrder(event);return false;")
        +form-step('Дата и время')
            +input({icon:"date"})(type="text" name="date" value="16 октября, 9:00", readonly disabled)
                a.input__icon.input__icon_date.js-ajax(data-ajax="ajax/calendar.html" onclick="getAjaxPage(event)")
        +form-step('Способ оплаты').form-step__body_split
            +payment({icon:"card", name:"Банковской картой"})
            +payment({icon:"cache", name:"Наличными"})
        +form-step('Пациент')
            +input({label: "ФИО"})#name(name="name" type="text" placeholder="")
            +input({label:"E-mail"})#email(name="email" type="email" placeholder="")
            +input({label:"Телефон"})#phone(name="phone" type="text" placeholder="")
        +form-step('Услуга')
            +input({info:"500 руб."})#service(name="service" type="text" value="консультация" readonly disabled)
        .form__step.form__footer.form-step
            button.button.button_large Записаться на прием
            +checkbox(name="privacy" checked)
                span Я согласен с
                    a(href="/privacy").color-link 
                        | условиями обработки персональных данных
