include /layout/mixins

form.form(action="#")
    +form-step
        +input({label: "ФИО"})#name(name="name" type="text")
        +input({label: "Ваш пароль*", icon: "password"})#password(name="password" type="password")
        +input({label:"Телефон"})#phone(name="phone" type="text" placeholder="+7(___) ___-__-__")
        +input({label:"E-mail"})#email(name="email" type="email")
    +form-step.form__footer
        +checkbox(name="privacy" checked)
            span Я согласен с
                a(href="/privacy").link_color 
                    | условиями обработки  персональных данных 
        button.button Зарегистрироваться