/*стили для страницы документов*/
.docs {
    &__section {
        margin-bottom: $offset-m;
    }

    &__title {
        @include header(xl);
        color: $color-accent;
        margin-bottom: 50px;
    }

    &__item {
        border-bottom: $line;

        &:first-of-type {
            border-top: $line;
        }
    }
}