.prices {
    &__filter {
        margin-bottom: $offset-s;
    }
}

.price-filter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gutter;
    
    @include phone_hrz {
        grid-template-columns: 1fr;
        background-color: transparent;
        
    }
    
    &__item {
        background-color: $color-elem-background;
        border-radius: 50px;
        transition: all 0.2s ease-in-out;
        // padding: 1rem 2rem;
        &:focus-within {
            @extend %input;
            background: white;
        }

        @include not_phone_only {
            &:first-of-type {
                @include border-lined;
            }
        }

        @include phone_hrz {
            background-color: $color-elem-background;
            border-radius: 50px;
        }
    }
}