extends /layout/template

block prepend vars 
    - const title = 'Диагностика'
    - const branches = [{text:'Хирургический стационар', icon: 'icons.svg#hirurg'}, {text:'Функциональная диагностика', icon: 'icons.svg#tomo'},{text:'Функциональная диагностика', icon:'icons.svg#heart'}]

block content
    .page__content
        main.page-section
            .branch-list.branch-list_table
                each branch in branches 
                    +branch(branch).tile.branch_tile


