extends /layout/template

block prepend vars 
    - const title = 'Функциональная диагностика'
block append vars
    - path = ['Главная', 'Диагностика', title]

block content 
    .page__grid
        .page__sidebar 
            +sidebar-menu(menu) 
        .page__content
            section.page-section 
                p.lead Функциональная диагностика включает в себя электроэнцефалограмму головного мозга (ЭЭГ) и реоэнцефалография сосудов головного мозга (РЭГ).
                h2.title.mark Электроэнцефалограмма головного мозга (ЭЭГ)
                p Электроэнцефалограмма – безболезненный метод изучения биотоков головного мозга, который широко применяется для диагностики различных расстройств у детей и взрослых. Колебания активности мозга во многих случаях происходят непостоянно, зачастую это эпизоды и вспышки. Поэтому, чем больший отрезок времени происходит запись ЭЭГ, тем точнее будут результаты.
            section.page-section.page-section_background
                h3.title.mark Электроэнцефалограмма (ЭЭГ) может быть проведена с целью:
                ul.list
                    li.list__item Диагностировать эпилепсию и типы приступов. ЭЭГ - самый эффективный и важный тест для подтверждения диагноза эпилепсии
                    li.list__item Проверка эффективности и подбор дозы препаратов при эпилепсии
                    li.list__item Определить причины потери сознания или слабоумия. Определить шансы на восстановление после помутнения сознания
                    li.list__item Выяснить, жив ли еще мозг человека, находящегося в коме
                    li.list__item Изучить нарушения сна, такие как нарколепсия
                    li.list__item Наблюдать мозговую активность человека под общим наркозом во время операций головного мозга.
                    li.list__item Диагностика интракраниальных очагов поражения (абсцесс, опухоли)
                    li.list__item Оценка электрической активности головного мозга при болезнях обмена веществ, ишемии мозга, его травмах, менингите, энцефалите, нарушении умственного развития, психических заболеваниях и лечении различными   препаратами
                    li.list__item Оценка степени активности головного мозга
                    li.list__item Диагностика смерти мозга
                    li.list__item Заболевания сосудов мозга
                    li.list__item Ушибы, травмы
                    li.list__item Отравления нейротоксическим ядом
                    li.list__item Оценка уровня незрелости головного мозга детей
                    li.list__item Различные психические расстройства, изменения поведения у детей, задержка развития
                    li.list__item Психические расстройства
                    li.list__item Коматозное состояние
                    li.list__item Печеночная энцефалопатия
                    li.list__item Инфекционный нейротоксикоз - Невроз
                    li.list__item Нейроинфекции
                    li.list__item Воспаления
                    li.list__item Дисфункциональные нарушения
            section.page-section 
                h2.title.mark Как проводится электроэнцефалография (ЭЭГ)
                p Для проведения исследования на голову испытуемого наносят прозрачный гель и накладывают электроды (чаще в виде специальной шапочки). Каждый электрод соединен проводом с электроэнцефалографом, в котором происходит усиление полученного сигнала и запись его на бумагу или выведение на экран компьютера. Во время проведения исследования человек сидит или лежит, расслабившись с закрытыми глазами или в темном помещении. Обычно электроэнцефалограмма выглядит как серия колебаний, отличающихся частотой, амплитудой и формой. От этих характеристик и зависит заключение невролога (нейрофизиолога), расшифровывающего запись.
                h3.title.mark Показаниями к проведению РЭГ являются:
                ul.list 
                    li.list__item головокружения - временные, постоянные и при принятии вертикального положения
                    li.list__item метеочувствительность
                    li.list__item присутствуют симптомы эпилепсии или остеохондроза
                    li.list__item частые головные боли или шум в ушах
                    li.list__item проверка развития ишемии или инсульта
                    li.list__item травмы шеи и головы
                    li.list__item отягощенная наследственность
                    li.list__item ухудшение памяти, зрения и слуха
                    li.list__item атеросклероз сосудов мозга
                    li.list__item вегетососудистая дистония
                    li.list__item сосудистые кризы
                    li.list__item артериальная гипертензия
                h3.title.mark Как проводится Реоэнцефалография (РЭГ)
                p Методика выполнения реоэнцефалографии довольно доступна и проста. Для начала пациент усаживается в удобном для него положении. Далее металлические электроды-пластинки смазывают специальной пастой и фиксируют повязку с ними на голове с помощью резинки. После, в среднем 10 минут, показания выводятся на бумагу или монитор и читаются невропатологом или неврологом. Реоэнцефалография выполняется, как по показаниям, так и для профилактики, например, у пожилых людей, поскольку с возрастом эластичность сосудов снижается, в результате чего развиваются различные сопутствующие заболевания. Помимо всего, РЭГ сосудов головного мозга участвует в оценке скорости кровотока и пульсовой волны, вязкости крови.


