extends /layout/template

block content
    .page__grid 
        .page__sidebar
            +sidebar-menu(menu)
        .page__content
            main.page-section.docs
                section.docs__section
                    h2.title.docs__title.mark ТФОМС
                    each document in docs
                        +document(document).docs__item
                section.docs__section
                    h2.title.docs__title.mark Документы
                    each document in docs
                        +document(document).docs__item


block prepend vars
    - const title = "Документы"
    - const docs = [{title:"Положение о порядке и условиях оказания услуг ООО ИМПУЛЬС", type: "pdf", size: "7 Кб"}, {title:"Положение о порядке и условиях оказания услуг ООО ИМПУЛЬС", type: "doc", size: "4 Кб"}, {title:"Положение о порядке и условиях оказания услуг ООО ИМПУЛЬС", type:"doc", size: "16 Кб"}]