extends /layout/template

block vars 
    - const title = 'Мейпариани Елена Владимировна'
    - const path = ['Главная','Врачи', title]

block content 
    .container
        .page-grid.page-block_wide