extends /layout/template

block page_header
    +page-header(pageHeaderImage).page-header_overflow
    .page__intro 
        .doctor-preview.doctor-preview__grid.container
            .doctor-preview__avatar-wrapper
                img.doctor-preview__avatar(src= photo alt= title)

            .doctor-preview__info
                table.doctor-preview__summary
                    each item in doctorInfo 
                        tr 
                            td= item.title 
                            td= item.value
                a.button.doctor-preview__action(href="#") ЗАПИСАТЬСЯ К ВРАЧУ
block content 
    .page__grid
        .page__sidebar 
            +sidebar-menu(menu)
        .page__content
            section.page-section#education 
                h2.title Образование
                p - Министерство здравоохранения РФ «Кубанский медицинский институт», «Акушерство и гинекология» – 1993г
                p - АНО ДПО «Современная научно-техническая академия» Сертификат по специальности «Акушерство и гинекология» - 2018г.
            section.page-section.page-section_background 
                h2.title Услуги и цены
                +price-list(prices)
    .page-section
        .schedule-table
            .schedule-filter.schedule-grid
                .schedule-filter__section.schedule-filter__section_place
                    +select({label:"Филиал", options: ["Ул. московская, 40", "Ул. московская, 40", "Ул. московская, 40"]})#filial.select_inline

                .schedule-filter__section.schedule-filter__section_spec 
                    +select({label:"Направление", options: ["акушерство и гинекология", "кардиология", "Проктология"]})#spec.select_inline
                .schedule-filter__section.schedule-filter__section_calendar
                    +schedule_header(calendar)

            .spec-row.schedule-grid 
                .spec-row__info
                    .spec-info-placeholder
                        .spec-info-placeholder__desc
                            p #[span.price Приём от 2500 руб.] - цена первичной консультации 
                            p Запись на консультацию осуществляется только по телефону
                        .spec-info-placeholder__footer
                            a.button(href="#").spec-info-placeholder__action Записаться на прием
                            a.link.link_color.tag.spec-info-placeholder__action(href="#") Записаться к другому врачу

                .spec-row__calendar
                    .schedule 
                        +schedule_body

block prepend vars 
    - title = 'Мейпариани Елена Владимировна'
block append vars
    - menu = ['Образование', 'Услуги и цены', 'Расписание']
    //- - let customHeader = true
    - const doctorInfo = [{title: "Врач:", value:"Акушер-гинеколог"}, {title: "Стаж:", value:"27 лет"}, {title: "Научная степень:", value:"Высшая"}, {title: "Ведёт приём:", value:"Взрослые"}]
    - const photo = "assets/img/lady.jpg"
    - const prices = [{name:"Коррекция нарушений",price:"2200"},{name:"Коррекция нарушений",price:"2200"},{name:"Консультации по вопросам пролонгирования беременности",price:"2200"},{name:"Индивидуальный подбор средств и методов контрацепции",price:"2200"},{name:"Коррекция нарушений",price:"2200"},{name:"Коррекция нарушений",price:"2200"},{name:"Консультации по вопросам пролонгирования беременности",price:"2200"},{name:"Индивидуальный подбор средств и методов контрацепции",price:"2200"},{name:"Коррекция нарушений",price:"2200"},{name:"Коррекция нарушений",price:"2200"},{name:"Консультации по вопросам пролонгирования беременности",price:"2200"},{name:"Индивидуальный подбор средств и методов контрацепции",price:"2200"}]
    - const calendar = { days: ["10.11",'11.11','12.11', '13.11', '14.11'], weekdays: ["пн","вт","ср","чт","пт"]}
