extends /layout/template
block content
    .page-grid 
        main.page__content 
            section.page-block
                .accordion
                    each item in faq 
                        +accordion(item.title)
                            | #{item.detail}
        .page-grid__sidebar
            +sidebar-menu(menu)
block vars 
    - const title = "Вопросы и ответы"
    - const mainpage = false
    - const path = ['Главная', title]
    - const menu = ['общая информация','лицензии и сертификаты','Новости','Тендеры','вакансии','Вопрос-ответ','документы']
    - const faq = [{title: 'Какие документы нужны для приема? ', detail: "При обращении в нашу клинику требуется паспорт. Для получения необходимой информации, Вы можете позвонить по телефону: (861) 257-15-00."}, {title:"Какой объем инструментального обследования я могу пройти в вашей клинике?", detail: "В нашей клинике любой пациент может получить полный объем лучевой диагностики (УЗД, рентген, КТ, МРТ), ЭКГ и полный спектр лабораторного обследования."}, {title:"Есть ли у вас стационар?",detail:"В настоящий момент существует стационар дневного пребывания. В нашем стационаре дневного пребывания проходят курс лечения не только жители Краснодара и Краснодарского края, но и жители других регионов, часто совмещая свои деловые поездки с возможностью получить качественные медицинские услуги в Краснодаре. В стационаре дневного пребывания в короткие сроки и удобное время можно пройти комплексное диагностическое обследование. Персональная программа диагностики с включением всех видов лабораторной, инструментальной диагностики (функциональной диагностики, УЗИ, рентгендиагностики, КТ, МРТ), консультаций врачей всех специальностей. Не так давно у нас открылся круглосуточный детский многопрофильный стационар. Наши квалифицированные специалисты разработают индивидуальную для каждого ребенка тактику лечения."}, {title:"Говорят, что в вашем компьютерном томографе имеется федеральная программа «Инсульт», позволяющая только на вашем КТ отслеживать динамику развития инсульта и соответственно корректировать лечение?", detail:"Да, Вы правы. Только на нашем компьютерном томографе Somatom Definition AS 64 имеется федеральная программа «Инсульт», позволяющая как ни где, четко определять потологический процесс, в который вовлечены сосуды головного мозга, причем компьютер позволяет в автоматическом режиме определить топику и нахождение тромба."}]