extends /layout/template 


append vars 
    - mainpage = true;
    - const title = 'Главная'
    - const banners = [{link: '/', title: 'Скидка 10% на МРТ в&nbsp;воскресенье', desc: 'Скидка предоставляется в филиале клиники ЗИМАMED,<br> по адресу Московская, 40', button: 'записаться'}]
    - const branchParams = {title:'Направления', desc:"В центре производится<br><span class='mark'>весь перечень</span> лабораторных и диагностических исследований", buttons:['Bсе направления','все специалисты']}
    - const branches = [{text:'Хирургический стационар', img: '/img/hirurg.svg'}]
    - const reviewParams = {title:'отзывы', desc:"Отзывы наших клиентов&nbsp;— <span class='mark'>лучшее&nbsp;подтверждение</span> нашего прoфессионализма", buttons:['Все отзывы']};
    - const reviews = [{text: 'Text', author: 'Джеки'},{text: 'Супер ваще очень круто неверояьно!', author: 'Джеки'}]


include /components/banner/banner
include /components/intro/intro
include /components/about/about
include /components/overview/overview
include /components/review/review
include /components/branch/branch



block content
    .big-carousel 
        .big-carousel__inner
            each banner in banners
                +banner(banner.link, banner.title, banner.desc, banner.button)

    .page-block
        +intro(true, '/walk.mp4', '/img/er.jpg', 'наши специалисты') 
            +about('Направления')
                | В центре производится #[br] #[span.mark весь перечень] лабораторных и диагностических исследований

    .page-block.page-block_background
        .container 
            +overview(branchParams)(class="branch-list__wrapper")
                each branch in branches 
                    +branch(branch.text, branch.img)

    .page-block.page-block_background
        .container
            +overview(reviewParams)(class="review-wrapper")
                each review in reviews 
                    +review(review.text, review.author)


block scripts
    script
        include index.js