doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="main.css")
        title Список страниц
    body
        .container
            .page-block
                h1 Список страниц сайта 
                ul 
                    li 
                        a(href="main.html").link Главная
                    li 
                        a(href="schedule.html").link Расписание врачей
                    li 
                        a(href="services.html").link Диагностика   