extends /layout/template 

block content
    .big-carousel 
        .big-carousel__inner
            each banner in banners
                +banner(banner.link, banner.title, banner.desc, banner.button)

    .page-block
        .container 
            +overview(branchParams)(class="branch-list__wrapper")
                each branch in branches 
                    +branch(branch.text)(svgIcon=branch.icon, type="carousel")

    .page-block
        +intro({video: '/walk.mp4', poster: '/walk.mp4', button:'контакты медцентров'})(class='intro_animated') 
            +about('медцентры')
                | 6 современных медицинских центров в Краснодарском крае и Республике Адыгея

    .page-block     
        section.container 
            +about('специалисты')(class="about_single")
                | Наши врачи - доктора #[br] и #[span.mark кандидаты медицинских наук]
        +intro({animated: '/walk.mp4', poster:'/walk.mp4', button: 'контакты медцентров'})(class='intro_animated', test="test")
            | В клинике работают профессионалы высшей медицинской категории. В отделениях центра стабильный кадровый состав, который в своей работе применяет научный подход и регулярно повышает квалификацию в лучших клиниках России и мира.
        
    .page-block.page-block_background
        .container
            +overview(reviewParams)(class="review-wrapper")
                each review in reviews 
                    +review(review.text, review.author)
    svg 
        use(xlink:href="#heart")

block scripts
    script
        include index.js

block vars 
    - const title = 'Главная'
    - const mainpage = true;
    - const banners = [{link: '/', title: 'Скидка 10% на МРТ в&nbsp;воскресенье', desc: 'Скидка предоставляется в филиале клиники ЗИМАMED,<br> по адресу Московская, 40', button: 'записаться'}]
    - const branchParams = {title:'Направления', desc:"В центре производится<br><span class='mark'>весь перечень</span> лабораторных и диагностических исследований", buttons:['Bсе направления','все специалисты']}
    - const branches = [{text:'Хирургический стационар', icon: '#heart'}, {text:'Анализы и диагностика', icon: '#tomo'}]
    - const reviewParams = {title:'отзывы', desc:"Отзывы наших клиентов&nbsp;— <span class='mark'>лучшее&nbsp;подтверждение</span> нашего прoфессионализма", buttons:['Все отзывы']};
    - const reviews = [{text: 'Text', author: 'Джеки'},{text: 'Супер ваще очень круто неверояьно!', author: 'Джеки'}]