doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="main.css")
        title Список страниц
    body
        .container
            .page-block
                h1 Список страниц сайта 
                ul 
                    li 
                        a.link(href="main.html") Главная
                    li 
                        a.link(href="schedule.html") Расписание врачей
                    li 
                        a.link(href="services.html") Диагностика
                    li
                        a.link(href="dictionary.html") Направления лечения
                    li 
                        a.link(href="doctor.detail.html") Доктор детальная
                    li 
                        a.link(href="price-list.html") Прайс-лист
                    li
                        a.link(href="faq.html") Вопросы и ответы
                    li
                        a.link(href="docs.html") Документы
                    li 
                        a.link(href="licences.html") Лицензии
                    li 
                        a.link(href="vacancy.html") Вакансии
                    li 
                        a.link(href="news.html") Новости 