mixin item(href, name, complete = false)
    li 
        input(type="checkbox" checked= complete disabled) 
        label
            a.link(href= href+".html")= name

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="main.css")
        title Список страниц
    body
        .container
            .page-section
                h1 Список страниц сайта 
                ul 

                    +item("main", "Главная", true)
                    +item("schedule","Расписание врачей", true)
                    +item("diagnostics", "Диагностика", true)
                    +item("diagnostics.detail", "Диагностика детальная", true)
                    +item("treatment", "Направления лечения", true)
                    +item("treatment.detail", "Направления лечения детальная", true)
                    +item("services", "Услуги", true)
                    +item("services.detail", "Услуга детальная", true)
                    +item("doctor", "Доктор детальная", true)
                    +item("price-list", "Прайс-лист", true)
                    +item("faq","Вопросы и ответы",true)
                    +item("docs", "Документы",true)
                    +item("licences", "Лицензии",true)
                    +item("vacancy", "Вакансии",true)
                    +item("news", "Новости",true)
                    +item("news.detail", "Новость подробно",true)
                    +item("promo", "Акции",true)
                    +item("promo.detail", "Акция подробно",true)
                    +item("contacts", "Контакты",true)
                    +item("about", "Общая информация",true)
                    +item("tender", "Тендеры", true)
                    +item("reviews", "Отзывы", true)
                    +item("account", "Личный кабинет", true)    
                    +item("signin", "Профиль", true)
                    +item("order.list", "Список заказов", true)