mixin item(href, name)
    li 
        a.link(href= href+".html")= name
        
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="main.css")
        title Список страниц
    body
        .container
            .page-block
                h1 Список страниц сайта 
                ul 
                    +item("main", "Главная")
                    +item("schedule","Расписание врачей")
                    +item("services", "Диагностика")
                    +item("dictionary", "Направления лечения")
                    +item("doctor.detail", "Доктор детальная")
                    +item("price-list", "Прайс-лист")
                    +item("faq","Вопросы и ответы")
                    +item("docs", "Документы")
                    +item("licences", "Лицензии")
                    +item("vacancy", "Вакансии")
                    +item("news", "Новости")
                    +item("news.detail", "Новость подробно")
                    +item("contacts", "Контакты")
                    +item("about", "Общая информация")
                    +item("signin", "Вход в личный кабинет")
