extends /layout/template
    
block content
    .page-grid 
        .page-block.page-grid__content
            main.licence-list
                - for(let i=0; i < 8; i++)
                    +licence(licences[0].title)(src= licences[0].img)
        .page-grid__sidebar
            +sidebar-menu(menu)

block prepend vars
    - const title = "Лицензии"
    - const licences = [{title:"Министерство здравоохранения Краснодарского края", img: "assets/img/licence.jpg"}]