extends /layout/template

block content 
    .page__grid
        .page__sidebar
            +sidebar-menu(menu)
        .page__content
            main.detail-page
                +image('assets/img/tender.png').detail-page__image
                .detail-page__meta.tag 12.03.2020
                .detail-page__text 
                    .page-section
                        p.lead.detail-page__lead Хирургический лазер – наиболее популярный на данный момент способ удаления новообразований кожи.
                        p Среди достоинств удаления лазером – отсутствие рубцов, быстрые сроки заживления раны и минимальное воздействие на здоровые ткани. Кроме того, лазер позволяет избежать возникновения послеоперационных осложнений.
                        p Лазерный метод удаления позволяет надежно и эффективно избавляться от различных дефектов: бородавки, папилломы, кондиломы, подошвенные бородавки, кератомы, контагиозный моллюск, купероз и др.
                        h3 К основным причинам варикозного расширения вен относятся:
                        ul
                            li Варикозная наследственность;
                            li Малоподвижный образ жизни;
                            li Привычка сидеть, закинув ногу на ногу;
                            li Излишне интенсивные нагрузки в тренажерном зале;
                            li Прием гормональных препаратов (контрацептивов или средства от простуды).
                    .page-section.page-section_background
                        h2 ЛАЗЕРНОЕ ЛЕЧЕНИЕ ВАРИКОЗА
                        ul
                            li #[span.mark Склеротерапия] от 5 000 рублей
                                br
                                | Этот метод подходит для тех, кто хочет без операции вернуть ногам красоту и избавиться от варикозной болезни.
                            li #[span.mark Минифлебэктомия] от 13 000 рублей
                                br
                                | Метод может потребоваться для лечения более запущенных стадий варикоза.
                            li #[span.mark Эндовазальная лазерная коагуляция вен (ЭВЛК)] от 25 000 рублей
                                br
                                | Метод позволяет устранить варикоз на запущенных стадиях, припоявлении венозных узлов и трофических язв
                    .page-section 
                        h2 Преимущества операции с помощью лазера
                        ul
                            li Выполняется амбулаторно, без госпитализации.
                            li Безболезненно для пациента.
                            li Без видимых шрамов.
                            li Быстрое восстановление после операции.
                            li Практически отсутствие осложнений.
                            li Операция с помощью лазера — современный, безопасный, эффективный метод лечения варикоза.                               
                        p Лечение варикозного расширения вен проводится различными способами в зависимости от стадии заболевания. Специалисты центра — врачи флебологи, сосудистые хирурги, одновременно владеют методами УЗИ-диагностики, что позволяет за одно посещение установить точный диагноз и выбрать подходящий метод лечения. 
                a.button.detail-page__button(href="#") Назад



block prepend vars 
    - const title = "Новости"
block append vars
    - path = ['Главная', title, 'Хирургический лазер – наиболее популярный']