extends /layout/template

block content 
    .page__grid
        .page__sidebar
            +sidebar-menu(menu)
        .page__content 
            main.page-section.detail-page
                +image('assets/img/tender.png').detail-page__image
                .detail-page__meta.tag 12.03.2020
                p.lead.detail-page__lead Хирургический лазер – наиболее популярный на данный момент способ удаления новообразований кожи.
                .detail-page__text 
                    p Среди достоинств удаления лазером – отсутствие рубцов, быстрые сроки заживления раны и минимальное воздействие на здоровые ткани. Кроме того, лазер позволяет избежать возникновения послеоперационных осложнений.
                    p Лазерный метод удаления позволяет надежно и эффективно избавляться от различных дефектов: бородавки, папилломы, кондиломы, подошвенные бородавки, кератомы, контагиозный моллюск, купероз и др.
                    ul
                        li 1i
                        li 2i
                        li 3i
                        li 4i
                        li 5i
                a.button.detail-page__button(href="#") Назад



block prepend vars 
    - const title = "Новости"
block append vars
    - path = ['Главная', title, 'Хирургический лазер – наиболее популярный']