extends /layout/template

block content
    .page__content
        section.page-section.prices
            .prices__filter.price-filter
                .price-filter__item
                    +select({label:"Филиал", options: ["выберите филиал", "фыовдло", "asoipqn"]})#filial.select_inline
                .price-filter__item
                    +select({label:"Направление", options: ["выберите направление", "фыовдло", "asoipqn"]})#spec.select_inline
            each item in prices 
                +spoiler(item.title).spoiler_decorated
                    +price-list(item.priceList)

block prepend vars 
    - let title = "Прайс-лист"
    - const prices = [{title:"Аллергология и иммунология - врачебные приемы",priceList:[{name:"Коррекция нарушений",price:"2200"},{name:"Консультации по вопросам пролонгирования беременности",price:"2200"},{name:"Коррекция нарушений менструальной функции (репродуктивного и климактерического периода)",price:"2200"},{name:"Индивидуальный подбор средств и методов контрацепции",price:2200}]},{title:"Гинекология и акушерство - врачебные приемы",priceList:[{"name":"Коррекция нарушений",price:"2200"},{name:"Консультации по вопросам пролонгирования беременности",price:"2200"},{name:"Коррекция нарушений менструальной функции (репродуктивного и климактерического периода)",price:"2200"},{name:"Индивидуальный подбор средств и методов контрацепции",price:"2200"}]}]