extends /layout/template

block content 
    .page__body
        main.page__content
            .page-section
                .card-list
                    each news in newsList
                        +news(news)
                +pagination({count: 7, current: 1}).page-section__pagination

block prepend vars 
    - const title = "Акции"
    - const newsList = [{date:"Комплексные программы", title:"Лазерная хирургия",image:"assets/img/image.png", desc:"Открытие услуги по лазерному лечение сосудистых патологий кожи"}, {date:"комплексные программы для детей", title:"Услуги диетолога - психолога",image:"assets/img/image.png", desc:"Теперь в нашем центре наши клиенты могут воспользоваться услугами диетолога-психолога"}, {date:"комплексные программы для детей", title:"Открылся филиал нашего центра в Сочи",image:"assets/img/image.png", desc:"Новый филиал центра ЗИМАМЕД открылся в г.Сочи по адресу Курортный проспект, 78В"}]
