extends /layout/template

block content
    .page__content
        .page-section.page-section_centered
            p.lead Ваш заказ успешно создан. 
            p Номер вашей оплаты 12312
            p Вы можете следить за выполнением своего заказа в личном кабинете. Обратите внимание, что для входа в личный кабинет требуется ввести пароль.
            div Блок для встраивания контента
             

block prepend vars 
    - let title = 'Заказ принят'
