extends /layout/template
block content
    .page__grid
        .page__sidebar
            +sidebar-menu(menu)
        main.page__content 
            section.page-section
                    each item in reviews 
                        +spoiler(item.author).spoiler_decorated
                            | #{item.text}
            
block prepend vars 
    - const title = 'Вопросы и ответы'
    - const reviews = [{text: 'Делал УЗИ почек, мне попался очень квалифицированный специалист, ответил на абсолютно все интересующие меня вопросы, все подробно рассказал и объяснил. Получила полную консультацию, по окончанию приема выдали распечатку и заключение. Своим визитом остался очень доволен.', author: 'Воробьев Михаил Петрович'},{text: 'Делал УЗИ почек, мне попался очень квалифицированный специалист, ответил на абсолютно все интересующие меня вопросы, все подробно рассказал и объяснил. Получила полную консультацию, по окончанию приема выдали распечатку и заключение. Своим визитом остался очень доволен.', author: 'Елена'}, {text: 'Приезжаю в этот Центр исключительно ради получения консультации Невролога Вол Анны Евгеньевны, очень довольна, спасибо ей огромное. Отдельное спасибо администратору Марии (работала 07.06.2021), коммуникабельная, приветливая, доброжелательная, почаще бы встречались такие люди в нашей жизни! С уважением', author: 'Ирина'}, {text: 'Ходили на УЗИ с ребенком. Выполнили 3 вида УЗИ, все достаточно быстро, к результатам обследования вопросов нет. Девушки-администраторы все внимательны и учтивы.', author: 'Татьяна Селезнева'}]