extends /layout/template

block prepend vars
    - const title = 'Наши услуги'
block append vars
    - path = ['Главная', 'Услуги']
    - const gallery = [{src: "assets/img/doctor_demo.jpg", filterId: "0"},{src: "assets/img/lady.jpg", filterId: "1"},{src: "assets/img/doctor_demo.jpg", filterId: "0"},{src: "assets/img/doctor_demo.jpg", filterId: "0"},{src: "assets/img/lady.jpg", filterId: "1"},{src: "assets/img/lady.jpg", filterId: "1"}]

block content 
    .page__grid
        .page__sidebar 
            +sidebar-menu(menu) 
        .page__content
            section.page-section 
                p.lead Вы приехали пройти обследование в медицинской клинике «ЗИМАМЕD» из другого города или региона - мы предлагаем остановиться у нас!
                p Клиника и гостинично-развлекательный комплекс «Южный» расположены в одном большом здании! Комфортабельные номера гостиницы располагают всем необходимым для отдыха и восстановления сил путешественников в городе Краснодаре.
                p ГРК "Южный" расположен в экологически чистом районе города Краснодара, внутренняя территория нашей гостиницы - уникальная парковая зона в центре нашего города
            section.page-section
                h2.title.mark Преимущества, которые Вы оцените, посетив нашу гостиницу
                p Удобная охраняемая парковка для Ваших автомобилей #[br]
                    | Ресторан с разнообразной, изысканой и недорогой кухней (русская, европейская, кавказская, свежие морепродукты)#[br]
                    | Завтраки "шведский стол" - включены в стоимость номеров на весь период проживания #[br]
                    | Интернет WI-FI - включен в стоимость номеров на весь период проживания #[br]
                    | Накопительные дисконтные карты #[br]
                    | Гостиничные номера   различных категорий комфортности (стандартные, полулюксы, студии и аппартаменты) #[br]
                    | Просторная сауна (большой холл, три комнаты отдыха, большой бассейн с гейзером, отменная парилка) #[br]
                    | Приветливый и профессиональный персонал #[br]
                    | Трансфер из/в аэропорта и ж/д вокзала #[br]
                    | Традиционное для нашего города  высокое качество обслуживания #[br]
            section.page-section 
                h2.title.mark Гостиница «Отель «ЮЖНЫЙ»
                p Адрес: 350072, г. Краснодар, ул. Московская, 40 #[br]
                    | Служба приема и размещения: +7 (861) 257-04-16, 257-05-59 #[br]
                    | Факс: +7 (861) 257-05-59 #[br]
                    | E-mail: info@yugmotel.ru #[br]
                    | Web: www.yugmotel.ru #[br]
            section.page-section 
                h2.title.mark РЕСТОРАНЪ «ОТЕЛЬ»
                p  Тел.: +7 (861) 257-13-00, 252-00-29 #[br]
                    | Тел.сот.: +7 (918) 195-66-50 #[br]
                    | Конференц-залы: +7 (861) 257-13-00 , +7 (918) 195-66-50 #[br]
                    | Банкетные залы: +7 (861 )257-13-00, 252-00-29, +7(918)195-66-50 #[br]
                    | Официальный сайт ресторана: ресторан-отель.рф #[br]
        section.page-section.page-section_wide.page-section_no-offset_top
            .gallery
                +gallery(gallery)