extends /layout/template

block prepend vars 
    - const title = 'Диагностика'
    - const branches = [{text:'Хирургический стационар', img: '/img/hirurg.svg'}, {text:'Функциональная диагностика', img: ''},{text:'Функциональная диагностика', img:''}]

block content 
    .container
        main.page-block
            .branch-list.branch-list_table
                each branch in branches 
                    +branch(branch.text)(type='tile', src=branch.img, class=['tile', 'branch_tile'])


