extends /layout/template


block content 
    .page__grid
        .page__sidebar 
            +sidebar-menu(menu) 
        .page__content
            section.page-section 
                p.lead Мы постарались создать для Вас максимальный комфорт, сосредоточив весь спектр медицинских услуг в одном месте.
                p Врачи нашей клиники действительно могут узнать об организме пациента практически все: для диагностики используются самые современные методы, которые помогают докторам очень уверенно и точно ставить диагноз и назначать нужное лечение.
                p Опыт и знания наших врачей не позволят укрыться от их внимания ни одной болезни. Тем более, если взгляд врача вооружен компьютерным томографом, магнитно-резонансным томографом, аналитической лабораторией, ультразвуком, и рентгеном.
                p Пройдя все необходимые обследования, можно быть уверенным, что никакая даже самая незаметная или глубоко запрятанная маленькая «болячка» не останется скрытой и не превратится в большую проблему. Можно не бояться и другой неприятности: что вас станут лечить от того, чем вы на самом деле не болеете. А без должной диагностики такое иногда случается.
            section.page-section.page-section_background
                h2.title Наши преимущества
                ul.list
                    li.list__item Консультации высококвалифицированных специалистов
                    li.list__item Самое современное оборудование
                    li.list__item Врачи высшей медицинской категории
                    li.list__item Хирургический стационар; Дневной и детский стационар, гостиница
                    li.list__item Удобное месторасположение
                    li.list__item Все виды диагностики
            section.page-section 
                h2.title Мы предлагаем различные #[span.mark услуги]:
                .card-list
                    each service in services
                        +card({meta:"услуга", button: "Подробнее", title: service, image: 'assets/img/tender.png'}).service


block prepend vars
    - const title = 'Наши услуги'
block append vars
    - path = ['Главная', 'Услуги']
    - const gallery = [{src: "assets/img/doctor_demo.jpg", filterId: "0"},{src: "assets/img/lady.jpg", filterId: "1"},{src: "assets/img/doctor_demo.jpg", filterId: "0"},{src: "assets/img/doctor_demo.jpg", filterId: "0"},{src: "assets/img/lady.jpg", filterId: "1"},{src: "assets/img/lady.jpg", filterId: "1"}]
    - const services = ["Получение справок", "Получение справок","Получение справок", "Гостиница"]