extends /layout/template

block content
    .page__grid
        .page__content
            .page-section
                form.form(action="#")
                 

block prepend vars 
    - const title = "Вход"
block append vars
    - pageHeaderImage = 'pill'