extends /layout/template 

block content 
    .page__content
        .page-section
            .switch__block
                label.switch__label.switch__label_active(for="switch") Взрослое отделение
                label.toggle(for="switch")
                    input#switch.toggle__checkbox.js-switch(type="checkbox")
                    span.toggle__button 
                label.switch__label(for="switch") Детское отделение
            each filterSection, key in list 
                .section.js-section-switched(class={section_hidden: key == 'children'}) 
                    .dictionary
                        +filter(filterSection, "A-Я")(class="dictionary-filter",itemClass= "dictionary-filter__item")
                        each value, key in filterSection 
                            +dictionary__item(key, value)

block append scripts 
    script 
        .
            let sectionToggle = new Switch();
            for (let section of document.querySelectorAll('.dictionary')) {
                const filter = new Filter(section);
                console.log(filter.filterControls);
            }
                 
block prepend vars
    - const title = 'Направления лечения'
    - 
        const list = {
            adult: {
                'A':[
                    'Аллерголог-иммунолог',
                    'Ангиохирург',
                    'Акушерство и гинекология',
                    'Анестезиология',
                ],
                'Г':[
                    'Гастроэнтерология',
                    'Гипнотерапия',
                    'Гематология',
                    'Гирудотерапия',
                ],
                'Д':[
                'Дерматовенерология',
                'Диетолог-психолог',
                'Дневной стационар'
                ]
            },
            children: {
                'A':[
                    'Аллерголог-иммунолог',
                    'Ангиохирург',
                ],
                'Г':[
                    'Гастроэнтерология',
                    'Гипнотерапия',
                ],
                'Д':[
                    'Диетолог-психолог',
                    'Дневной стационар'
                ]
            }
        }
