extends /layout/template

block page_header
    +page-header(pageHeaderImage).page-header_overflow
    +intro({video: 'assets/video/walk.mp4', poster: 'assets/img/walk.jpg', button:'записаться к врачу'}).page__intro
        | Одним из самых важных докторов в жизни женщины является врач-гинеколог. Именно от его компетентности зависит и здоровье самой женщины на протяжении всей жизни, и здоровье ее будущих детей.
block content
    .page__grid 
        .page__sidebar
            +sidebar-menu(["описание", "Услуги и цены", "Комплексные программы", "специалисты"])
        .page__content
            section.page-section
                p В клинике «ЗИМАМЕD» вас ждут специалисты самой высокой квалификации, женщина любого возраста получает профессиональные консультации врачей, полноценное обследование и эффективное лечение многих заболеваний.

                p Комплексный подход к сохранению и восстановлению здоровья женщины является ключевой составляющей в работе наших специалистов.

                p В клинике можно получить консультации и пройти лечение даже в самых сложных случаях, как в области общей гинекологии, так и по вопросам нарушений репродуктивной функции женщин и мужчин.

                p Врачи проводят консультации по вопросам планирования семьи и брака, и в индивидуальном порядке помогают осуществить правильный выбор средств контрацепции, а также предотвращения нежелательной беременности.
            section.page-section.page-section_background
                h2.title Наша клиника оказывает #[span.mark следующие медицинские услуги]:
                +price-list(prices)
            section.page-section 
                h2.title Мы также предлагаем #[span.mark комплексные программы:]
                .card-list
                    - const currency = "&#8381;"
                    each program in programs
                        - program.button = "Подробнее"
                        +card(program).service
                            span.price #{program.price} !{currency}
    section.page-section.page-section_background
        h2.title Наши врачи - #[span.mark доктора и кандидаты] медицинских наук
        .card-list.doctor-list
            each doctor in doctors 
                +doctor(doctor)



block prepend vars 
    - title = "Акушерство и гинекология"
block append vars
    - path = ["Главная", "Направления лечения", title]
    - const prices = [{name:"Коррекция нарушений",price:"2200"},{name:"Коррекция нарушений",price:"2200"},{name:"Консультации по вопросам пролонгирования беременности",price:"2200"},{name:"Индивидуальный подбор средств и методов контрацепции",price:"2200"},{name:"Коррекция нарушений",price:"2200"},{name:"Коррекция нарушений",price:"2200"},{name:"Консультации по вопросам пролонгирования беременности",price:"2200"},{name:"Индивидуальный подбор средств и методов контрацепции",price:"2200"},{name:"Коррекция нарушений",price:"2200"},{name:"Коррекция нарушений",price:"2200"},{name:"Консультации по вопросам пролонгирования беременности",price:"2200"},{name:"Индивидуальный подбор средств и методов контрацепции",price:"2200"}]
    - const programs = [{meta:"Программа",title:"Женское здоровье до 40 лет",desc:"Длительность прохождения программы - 10 рабочих дней (из которых пациент находится в клинике 4 дня)", price:"10 000", image:"assets/img/image.png"}, {meta:"Программа",title:"Будущая мама",desc:"Длительность прохождения программы - 10 рабочих дней (из которых пациент находится в клинике 4 дня)", price:"20 8260", image:"assets/img/image.png"}]
    - const doctors= [{photo:"assets/img/lady.jpg",spec:"Акушер-гинеколог",name:"Мейпариани Елена Владимировна"}, {photo:"assets/img/lady.jpg",spec:"Акушер-гинеколог",name:"Мейпариани Елена Владимировна"}, {photo:"assets/img/lady.jpg",spec:"Акушер-гинеколог",name:"Мейпариани Елена Владимировна"}]