extends /layout/template

block content
    .page-grid 
        main.page-grid__content
            section.page-block
                +accordion('В связи с открытием новых филиалов и расширением оказываемых услуг, клиника "Зимамед" приглашает на работу:')
                    | Акушеров-гинекологов#[br]
                    | Терапевтов/врачей общей практики#[br]
                    | Педиатров#[br]
                    | Офтальмологов#[br]
                    | Отоларингологов#[br]
                    | Неврологов (взрослых/детских)#[br]
                    | Врачей-рентгенологов (КТ/МРТ)#[br]
                    | Хирургов (консультирующих/оперирующих)#[br]
                    | Врачей-гастроэнтерологов (взрослых/детских)#[br]
                    | Урологов#[br]
                    | Травмотологов-ортопедов#[br]
                    | Врачей УЗД#[br]
                    | Врачей-аллергологов-иммунологов#[br]
                    | Врачей дерматовенерологов#[br]
                    | Ангиохирургов#[br]
                    | Массажистов#[br]
                    | Пульмонологов#[br]
            section.page-block
                .teasers
                    h2.title Наши преимущества
                    ul.list
                        li.list__item Клиника оснащена новейшим медицинским оборудованием
                        li.list__item Наработан большой поток пациентов
                        li.list__item Возможно сотрудничество как на постоянной основе, так и частичная занятость
                        li.list__item Работа предлагается как в г.Краснодаре (ул.Московская, ул. Вологодская, ул.Сормовская), так и в других городах - Ейск, Адыгейск, Сочи, пос. Красная Поляна (Сочи) 
                        
        .page-grid__sidebar
            +sidebar-menu(menu)

block prepend vars
    - const title = "Вакансии"