.main-menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;

  &_mobile{
    display: block;
    text-align: center;
    list-style-type: none;
  }
  
  &__item {
    position: relative;
    padding: 20px 0;
    @include text(xs, 600, true);
    cursor: pointer;
  }
  &__item:hover &__submenu{
    display: block;
    animation: fadeIn 0.5s;
  }
  &__item:not(:hover) &__submenu{
    animation: fadeOut 0.5s;
  }
  &__wrapper {
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.04);
  }
  &__submenu{
    display: none;
    position:absolute;
    top: 100%;
    padding: 0;
  }
}

