.contact {
  &__address {
    border-bottom: $line;
    padding: 1rem 0;
  }
  &__more {
    border-bottom: $line;
  }

  &__table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $offset-s;
    tbody,
    tr {
      display: contents;
    }
    & tr {
      @include text(xxs);
    }
    & tr td:first-child {
      color: $color-text-muted;
      font-size: 12px;
    }
  }
  &__comment {
    font-size: 12px;
    margin: $offset-s 0;
  }
  &__transport {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;

    &-list {
      display: flex;
      align-items: center;
      @include flex-gap(15px);
    }
  }
  &-block {
    &__aside {
      max-height: 100vh;
      padding-right: 10px;
      margin-right: -10px;
      overflow-y: auto;
    }
    &__info {
      border-top: $line;
      padding: $offset-s 0;
      border-bottom: $line;
      & .mark {
        font-weight: bold;
      }
    }

    &__map {
      position: relative;
      filter: grayscale(1);
      height: 100vh;
      @include tablet{
        max-height: 50vh;
      }
      &-wrapper {
        position: absolute;
        height: 100%;
        width: calc(100% + (100vw - var(--container-width)) / 2);
        @include tablet{
          width: 100%;
        }
      }
      /* &:hover {
        filter: grayscale(0);
      } */
    }
  }
}

.transport-icon {
  display: block;
  @include box(32px);
  background-color: $color-accent;
  border-radius: 2px;
  flex: 0 0 auto;
  &_tram {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='2' fill='%23852D2E'/%3E%3Cpath d='M14.7397 10.4794H10.0395V8.89952H21.3159V10.4794H16.6158V23H14.7397V10.4794Z' fill='white'/%3E%3Cpath d='M10 26.5H21.5' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
  }
  &_bus {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='2' fill='%23852D2E'/%3E%3Cpath d='M14.3716 8.89952H16.4452L21.9551 23H19.8815L18.3411 18.7541H12.377L10.7971 23H8.88151L14.3716 8.89952ZM17.7486 17.1742L15.3985 10.5979H15.359L12.9695 17.1742H17.7486Z' fill='white'/%3E%3C/svg%3E%0A");
  }
  &_trolley {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='2' fill='%23852D2E'/%3E%3Cpath d='M14.7397 10.4794H10.0395V8.89952H21.3159V10.4794H16.6158V23H14.7397V10.4794Z' fill='white'/%3E%3C/svg%3E%0A");
  }
}
.simplebar-track.simplebar-vertical {
  right: -15px;
  width: 10px;
  & .simplebar-scrollbar::before {
    background: $color-line;
  }
}
