.spec-row {
    grid-template-areas: "info info calendar";
    @extend %card;
    @include tablet_hrz {
        grid-template-areas: "info calendar";
    }
    @include tablet {
        grid-template-areas: "info info" "calendar calendar";
    }
    @include phone {
        grid-template-areas: "info" "calendar";
    }
    &__info{
        grid-area: info;
    }
    &__calendar{
        grid-area: calendar;
        border-left: $line;
        padding-top: $offset-s;
        @include tablet{
            border-left: unset;
        }
    }
}

.doctor-card {
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: $gutter;
    grid-template-areas: "image content";
    box-shadow: none;
    height: 100%;

    @include tablet_hrz {
        grid-template-columns: 2fr 4fr;
        max-height: 300px;
    }

    @include tablet {
        grid-template-columns: 120px auto auto;
        grid-template-areas: "image header header""image body footer";
    }
    @include phone {
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "image header""image body""footer footer";
    }

    &__name {
        font-weight: 600;
    }

    &__photo {
        @include tablet_hrz {
            height: auto;
        }
    }

    &__inner {
        @include tablet {
            display: contents;
        }
    }

    &__header {
        grid-area: header;

    }

    &__body {
        grid-area: body;
    }

    &__footer {
        grid-area: footer;
        display: flex;
        align-items: flex-start;
        @include phone {
            justify-content: center;
        }
    }

}