.input {
  position: relative;
  display: block;

  &__value {
    height: 3.5rem;
    display: block;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    padding: 1rem 2rem;
    width: 100%;
    background: $color-elem-background;
    border-radius: 35px;
    @extend %tag;
    color: $color-text-semi-muted;
    transition: all 0.2s ease-in;
    font-family: inherit;

    &_password {
      text-transform: none;
    }

    &:hover {
      @extend %input;
    }

    &:focus {
      background: white;
      @extend %input;
      color: $color-text;
      outline: none;
      text-transform: none;
    }

    &:invalid {
      outline: $color-error;
      border: 1px solid $color-error;
      box-shadow: 2px 8px 40px rgba(255, 0, 0, 0.09);
    }

    &::placeholder {
      @extend .tag;
      text-transform: none;
      opacity: 0;
      transition: opacity 0.1s ease-out;
    }

    &:focus::placeholder {
      transition: opacity 0.3s ease-out;
      opacity: 1;
    }
  }

  &__icon {
    @extend %absolute-centered;
    width: 30px;
    height: 30px;
    right: 2rem;
    cursor: pointer;

    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

    &_password-hidden {
      background-image: url("data:image/svg+xml,%3Csvg width='29' height='24' viewBox='0 0 29 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.1792 13.8671C20.4215 13.2196 20.5444 12.5336 20.542 11.8423C20.542 10.3073 19.9322 8.83523 18.8468 7.74984C17.7615 6.66445 16.2894 6.05469 14.7544 6.05469C14.0716 6.05549 13.3944 6.17834 12.7549 6.41747L14.1132 7.81797C14.3197 7.78493 14.5284 7.76801 14.7375 7.76735C15.8229 7.76508 16.865 8.19234 17.6364 8.95583C18.4078 9.71931 18.8457 10.757 18.8547 11.8423C18.854 12.0514 18.837 12.2601 18.804 12.4666L20.1792 13.8671Z' fill='%23852D2E'/%3E%3Cpath d='M27.8567 11.4446C25.0135 6.18847 20.0274 3.00781 14.5097 3.00781C13.0074 3.01134 11.5152 3.25339 10.0889 3.72494L11.4472 5.09169C12.4477 4.83313 13.4764 4.69993 14.5097 4.69516C19.2596 4.69516 23.5792 7.3443 26.1524 11.8073C25.2085 13.4631 23.9571 14.9235 22.4656 16.1101L23.6636 17.3081C25.3898 15.9155 26.8235 14.1951 27.882 12.2461L28.1013 11.8411L27.8567 11.4446Z' fill='%23852D2E'/%3E%3Cpath d='M3.03434 1.53051L6.79713 5.2933C4.41875 6.82467 2.4749 8.94284 1.15295 11.4437L0.933594 11.8402L1.15295 12.2452C3.99613 17.5013 8.98225 20.6819 14.4999 20.6819C16.6535 20.6815 18.7791 20.1941 20.7178 19.2561L24.9361 23.4745L26.4126 22.209L4.47703 0.273438L3.03434 1.53051ZM11.2602 9.75634L16.8706 15.3668C16.2367 15.7592 15.5069 15.9693 14.7614 15.9742C14.2197 15.9742 13.6834 15.8671 13.1832 15.6591C12.6831 15.451 12.229 15.1461 11.8472 14.7619C11.4653 14.3777 11.1632 13.9217 10.9582 13.4203C10.7532 12.9189 10.6494 12.3819 10.6527 11.8402C10.6622 11.1033 10.8722 10.3829 11.2602 9.75634V9.75634ZM10.0368 8.53301C9.24753 9.64616 8.87757 11.0027 8.99247 12.3624C9.10737 13.7222 9.69972 14.9974 10.6646 15.9623C11.6295 16.9272 12.9048 17.5196 14.2645 17.6345C15.6243 17.7494 16.9808 17.3794 18.0939 16.5901L19.4438 17.94C17.8811 18.608 16.1993 18.9524 14.4999 18.9524C9.74999 18.9524 5.43038 16.3033 2.85717 11.8402C4.09206 9.6536 5.87055 7.82281 8.02046 6.52507L10.0368 8.53301Z' fill='%23852D2E'/%3E%3C/svg%3E");
    }

    &_password-visible {
      background-image: url("data:image/svg+xml,%3Csvg width='28' height='18' viewBox='0 0 28 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.9132 8.43675C24.07 3.18065 19.0839 0 13.5663 0C8.04866 0 3.0541 3.18065 0.236229 8.43675L0 8.83327L0.219355 9.23824C3.06254 14.4943 8.04866 17.675 13.5663 17.675C19.0839 17.675 24.0785 14.5365 26.9132 9.23824L27.1326 8.83327L26.9132 8.43675ZM13.5663 15.9455C8.8164 15.9455 4.4546 13.2963 1.92358 8.83327C4.4546 4.37023 8.8164 1.7211 13.5663 1.7211C18.3162 1.7211 22.6274 4.37867 25.2006 8.83327C22.6274 13.2963 18.3077 15.9455 13.5663 15.9455V15.9455Z' fill='%23852D2E'/%3E%3Cpath d='M13.8132 3.07144C12.6693 3.07979 11.5535 3.42695 10.6068 4.06907C9.66006 4.71119 8.92484 5.61948 8.49401 6.6792C8.06318 7.73893 7.95606 8.90256 8.18618 10.0231C8.4163 11.1437 8.97333 12.1709 9.78692 12.9751C10.6005 13.7793 11.6342 14.3243 12.7573 14.5414C13.8805 14.7584 15.0428 14.6378 16.0975 14.1946C17.1521 13.7515 18.0518 13.0057 18.6828 12.0516C19.3139 11.0974 19.648 9.97768 19.643 8.83374C19.6397 8.07227 19.4862 7.31894 19.1912 6.61692C18.8962 5.9149 18.4656 5.27798 17.924 4.74268C17.3825 4.20738 16.7406 3.78421 16.0352 3.49743C15.3298 3.21065 14.5747 3.06589 13.8132 3.07144V3.07144ZM13.8132 12.9593C13.0052 12.951 12.2177 12.7041 11.5495 12.2496C10.8813 11.7952 10.3624 11.1534 10.0577 10.405C9.75313 9.6565 9.67645 8.83472 9.83735 8.04284C9.99825 7.25095 10.3896 6.52426 10.9621 5.95404C11.5347 5.38381 12.2629 4.99548 13.0555 4.83782C13.848 4.68015 14.6695 4.76018 15.4167 5.06785C16.1639 5.37552 16.8035 5.89712 17.2552 6.56713C17.707 7.23714 17.9507 8.02569 17.9557 8.83374C17.9579 9.37757 17.8522 9.91644 17.6446 10.4191C17.437 10.9218 17.1317 11.3782 16.7464 11.762C16.361 12.1457 15.9034 12.4492 15.3999 12.6547C14.8964 12.8602 14.3571 12.9638 13.8132 12.9593V12.9593Z' fill='%23852D2E'/%3E%3C/svg%3E");
    }

    &_date {
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.8 2.7H22.5V0.3C22.5 0.135 22.365 0 22.2 0H20.1C19.935 0 19.8 0.135 19.8 0.3V2.7H10.2V0.3C10.2 0.135 10.065 0 9.9 0H7.8C7.635 0 7.5 0.135 7.5 0.3V2.7H1.2C0.53625 2.7 0 3.23625 0 3.9V28.8C0 29.4638 0.53625 30 1.2 30H28.8C29.4638 30 30 29.4638 30 28.8V3.9C30 3.23625 29.4638 2.7 28.8 2.7ZM27.3 27.3H2.7V13.05H27.3V27.3ZM2.7 10.5V5.4H7.5V7.2C7.5 7.365 7.635 7.5 7.8 7.5H9.9C10.065 7.5 10.2 7.365 10.2 7.2V5.4H19.8V7.2C19.8 7.365 19.935 7.5 20.1 7.5H22.2C22.365 7.5 22.5 7.365 22.5 7.2V5.4H27.3V10.5H2.7Z' fill='%23852D2E'/%3E%3C/svg%3E");
    }

    &_arrow {
      @extend %rounded;
      background-position: 50% 60%;
      background-image: url("data:image/svg+xml,%3Csvg width='17' height='11' viewBox='0 0 17 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.462145 2.90642L7.45105 10.5018C8.06595 11.17 9.06625 11.1652 9.67526 10.4922L16.5465 2.89682C17.5218 1.81931 16.8201 -2.94092e-06 15.43 -2.69786e-06L1.56984 -2.74479e-07C0.17382 -3.03917e-08 -0.524923 1.8337 0.462145 2.90642Z' fill='%23852D2E'/%3E%3C/svg%3E");
      background-color: white;
    }
  }

  &__info {
    @extend %absolute-centered;
    right: 2rem;
  }
}

.select {
  position: relative;
  height: 4rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background-color, box-shadow 0.2s ease-in;
  padding-right: 3rem;
  background-color: $color-elem-background;
  border-radius: 50px;
  &_inline{
    border-radius: unset;
    background-color: unset;
  }

  &:focus-within {
    @extend %input;
    background: white;

  }
  &__icon {
    @include arrow(33px);
    &::before,
    &::after {
      right: 15px;
    }
  }

  &__label {
    display: block;
    font-size: 12px;
    line-height: 1rem;
    font-weight: 600;
    color: $color-text-muted;
  }

  &__item {
    display: block;
    width: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    margin: 0;
    border: none;
    font-family: inherit;
    @extend.tag;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__item:focus~&__icon::after {
    transform: translateY(-50%) rotateZ(-180deg);
  }
}

.label {
  display: block;
  font-size: 12px;
  color: $color-text-muted;
  font-weight: 600;
}

.input__label {
  position: absolute;
  left: 2rem;
  top: 0;
  line-height: 3.5rem;
  @extend %tag;
  color: $color-text-muted;
  transition: all 0.2s ease-in-out;

  input:focus~&,
  input:not(:placeholder-shown)~& {
    @extend .label;
    text-transform: none;
    transform: translateY(-20px);
  }
}