.overview {
  &__desc {
    // margin-bottom: $offset-s;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    margin: $offset-m 0;
  }

  &__links {
    display: flex;
    @include flex-gap($gutter);
  }

  &__slider {
    margin-bottom: $offset-m;

    &-nav {
      & .button-arrow {
        height: 3rem;
        width: 3rem;
      }
    }
  }
}