mixin overview(props)
    .overview
        .overview__desc
            +about(props.title)
                | !{props.desc}
        .container.overview__nav.mobile-scrollable
            .overview__links
                each button in props.buttons
                    a.button.button_light(href="#")= button

            .overview__slider-nav.slider-nav(class= `${attributes.class}__nav`)
                +button-arrow('prev')
                +button-arrow()
        .overview__slider
            block
