mixin overview(props)
    .overview
        .overview__desc
            +about(props.title)
                | !{props.desc}
        .container.overview__nav
            .overview__links
                each button, index in props.buttons
                    a.button.button_light(href="#", class= (index > 0)? "mobile-hidden":"" )= button

            .overview__slider-nav.slider-nav(class= `${attributes.class}__nav`)
                +button-arrow('prev')
                +button-arrow()
        .overview__slider
            block
