mixin overview(props)
    .overview
        .overview__desc
            +about(props.title)
                | !{props.desc}
        .overview__nav.mobile-scrollable
            .overview__links
                each button in props.buttons
                    a.button.button_light(href="#")= button
            .overview__slider-nav.slider-navigation
                .button-arrow.button-arrow_prev 
                    svg #[use(xlink:href="#arrow")]
                .button-arrow.button-arrow_next 
                    svg #[use(xlink:href="#arrow")]
        .slider-container(class=attributes.class)
            .swiper-wrapper.swiper-no-swiping
                block
