mixin overview(props)
    .overview
        .overview__desc
            +about(props.title)
                | !{props.desc}
        .overview__nav.mobile-scrollable
            .overview__links
                each button in props.buttons
                    a.button.button_light(href="#")= button
            .overview__slider-nav.slider-navigation
                a(href="#prev").button-arrow
                    svg.button-arrow__icon #[use(xlink:href="#arrow")]
                a(href="#next").button-arrow
                    svg.button-arrow__icon #[use(xlink:href="#arrow", transform="rotate(180 15 15)")]
        .slider-container(class=attributes.class)
            .swiper-wrapper.swiper-no-swiping
                block
