mixin intro(props)
    .intro.container(class=attributes.class)
        .intro__video-wrapper 
            video.intro__bckg(src=props.video, poster=props.poster, autoplay, loop, muted, playsinline)
        .intro__inner.container 
            .intro__content 
                block 
                    
            a.intro__link.button(href="#")= props.button