mixin branch(title)
    .branch(class="branch_" + attributes.type)
        .branch__img-wrapper
          svg.branch__img(class="branch__img_"+ attributes.type)
            use(xlink:href=attributes.svgIcon)
        a.branch__name(href="#")= title
        if attributes.type != 'tile'
            a.branch__link(href="#") Подробнее