mixin branch(props, moreLink = false)
  .branch(class= attributes.class)
    .branch__img
      //- include /../assets/icon/heart.svg 
      //- demo разницы currentColor и filter
      svg #[use(href= props.icon)]
    a.branch__name(href="#")= props.text
    if moreLink
      a.branch__link.link.link_color(href="#") Подробнее