.branch-list {
  &_table {
    display: grid;
    grid-gap: var(--gutter);
    grid-template-columns: repeat(2, 1fr);
    @include phone_hrz {
      grid-template-columns: 1fr;
    }
  }

  &_carousel {
    display: flex;
    grid-auto-columns: max-content;
    @include phone_hrz {
      display: grid;
      grid: 1fr / auto-flow 260px;
      column-gap: $gutter;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      scroll-padding-left: 15px;

    }
  }
  &__inner{
    @include phone_hrz{
      display: contents;
    }
  }
  
}

.branch {
  display: flex;
  transition: 0.2s ease-in-out;

  &__img{
    &_carousel{
      width: 40px;
      height: 40px;
    }
  }
  &_tile{
    align-items: center;
    gap: $offset-s;
    background-color: $color-elem-background;
    padding: $offset-s;

    &:hover {
      @extend %card;
      color: $color-accent;
    }

    .branch__img-wrapper {
      filter: grayscale(1);
    }

    &:hover .branch__img-wrapper {
      filter: grayscale(0);
    }

    .branch__name {
      @include text(m, 600);
      @include flex-gap(auto, $offset-s);
    }
  }

  &_carousel{
    @extend %card;
    flex-direction: column;
    align-items: start;
    height: 292px;
    max-width: 262px;
    min-width: 260px;
    padding: 40px;
    flex-shrink: 0;
    @include tablet_hrz {
      scroll-snap-align: start;
      max-height: 260px;
    }
    
    .branch__name {
      margin-bottom: $offset-s;
      &:hover, &:focus, &:active{
        color: $color-accent
      }
    }

    .branch__img {
      &-wrapper {
        flex: 1 1 50%;
      }
    }

    .branch__link {
      @include text(xs);
    }
  }
}
