.tab{
    @include text(xxs, 400, false);
    text-transform: capitalize;
    line-height: 2rem;
    @extend .button_light;
    color: $color-text;    
}
.tab-list{
    display: flex;
    @include flex-gap($gutter);
    .js-filter_active{
        background: $color-main;
        color: white;
    }
}