$color-text: #000000;
$color-elem-background: #f4f4f4;
$color-line: #dad8d5;
$color-text-semi-muted: #7d7d7d;
$color-text-muted: #b4b4b4;
$color-main: #5b423b;
$color-accent: #852d2e;
$color-contrast: #c6aa80;
$color-error: #d93333;