form.form(action="#" name="login")
    +form-step
        +input({label: "Номер телефона*"})#login_phone(name="phone" type="text" placeholder="+7 (___) ___-__-__")
        +input({label: "Ваш пароль*", icon: "password"})#login_password(name="password" type="password")
        a.tag.tag_link.auth-link.js-open(data-modal="password" href="#") Забыли пароль?

    +form-step.form__footer
        .button войти