+modal('calendar')
    .modal__header 
        +doctor-card({name:"Лымарь Марина Петровна", meta: "Акушер-гинеколог", desc: "Приём от 2500 руб."}, footer= false).doctor-card_fold(src= 'assets/img/lady.jpg')
    .modal__body
        +schedule(true)

