+modal('login')
    .modal__header 
        .modal-tabs
            a.modal-tabs__item.tag.tag_link.js-modal-filter(data-filter="auth" href="#") Вход
            a.modal-tabs__item.tag.tag_link.js-modal-filter(data-filter="signup" href="#") Регистрация

    .modal__body
        .modal-tab-page.js-modal-tab(data-filter = "auth")
            include auth
        .modal-tab-page.js-modal-tab(data-filter = "signup")
            include signup


