+modal('order')
    .modal__header 
        +doctor-card({name:"Лымарь Марина Петровна", meta: "Акушер-гинеколог", desc: "Приём от 2500 руб."}, footer= false).doctor-card_fold(src= 'assets/img/lady.jpg')
    .modal__body
        form.form(action="#" name="order")
            +form-step('Дата и время')
                .form-step__row
                    output(name="ordertime_format").tag 16 октября, 9:00
                    svg.icon(width="30" height="30") #[use(href="icons.svg#date")]
                    input(type="hidden", name="ordertime")
            +form-step('Способ оплаты')
                .form-step__row.form-step__row_split
                    +payment({icon:"card", name:"Банковской картой"})
                    +payment({icon:"cache", name:"Наличными"})
            +form-step('Пациент')
                +input({label: "ФИО"})#name(name="name" type="text")
                +input({label:"E-mail"})#email(name="email" type="email")
                +input({label:"Телефон"})#phone(name="phone" type="text" placeholder="+7(___) ___-__-__")
            +form-step('Услуга')
                .form-step__row 
                    span.tag консультация
                    span.price 500 руб.
            +form-step.form__footer
                button.button.button_large Записаться на прием
                +checkbox(name="privacy" checked)
                    span Я согласен с
                        a(href="/privacy").link_color 
                            | условиями обработки персональных данных
