+modal('change_password')
    .modal__header 
        h2.tag Восстановление пароля
    .modal__body
        form.form(action="ajax/psw_change.html" name="change_password")
            +form-step
                +input({label: "Введите новый пароль*", icon: "password"})#password(name="password" type="password")
                +input({label: "Подтвердите пароль*", icon: "password"})#password_confirm(name="password_confirm" type="password")
            +form-step.form__footer
                button.button Сохранить
