mixin licence(title)
    .licence
        a.licence__img-wrapper(data-fslightbox="licences" href= attributes.src)
            img.licence__img(src= attributes.src alt= title)
        a.licence__caption.link.link_color(data-fslightbox="licences" href= attributes.src)= title