mixin licence(title)
    .licence
        a(data-fslightbox="licences" href= attributes.src).licence__img-wrapper
            img.licence__img(src= attributes.src alt= title)
        a.licence__caption.link.link_color(href= attributes.src)= title