.link {
  text-decoration: none;
  color: $color-text;
  &:visited {
    color: $color-main;
  }
  &:hover {
    color: $color-accent;
  }
  &:active {
    color: $color-contrast;
  }
}
.color-link{
  @extend %color-link; 
}