.link {
  text-decoration: none;
  color: $color-text;
  &:visited {
    color: $color-main;
  }
  &:hover {
    color: $color-accent;
  }
  &:active {
    color: $color-contrast;
  }
  &_color{
    @extend %color-link;
  }
}