.icon-menu {
  &__item {
    svg {
      @include box(30px);
    }
  }

  display: none;
  justify-content: space-between;
  @include flex-gap($offset-s);

  @include tablet {
    display: flex;
  }

  @include phone {
    display: contents;
    @include flex-gap(unset);
  }

  &__toggle {
    &_open {
      @at-root {
        .header-mobile.js-open &{
          display: none;
        }
      }
    }

    &_close {
      display: none;
      @at-root {
        .header-mobile.js-open &{
          display: block;
        }
      }
    }
  }
}