.sidebar-menu {
  list-style-type: none;
  padding: 15px 50px;
  @extend %card;

  &__header {
    display: none;

    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

  }

  &_unfold &__header+&__item {
    margin-top: $offset-s;
  }

  &__item {
    display: block;
    padding: 1rem 0;
    @extend %tag;
    cursor: pointer;

    &_active {
      color: $color-accent;
    }

    &:not(:last-of-type) {
      border-bottom: $line;
    }

    @include tablet {
      display: none;
    }

    @at-root {
      .sidebar-menu_unfold & {
        display: block;
      }
    }
  }

}