.big-carousel {
    position: relative;

    &__inner {
        width: 100%;
    }

    &__nav {
        cursor: pointer;
        z-index: 2;
        width: calc(50vw - var(--container-width)/2);

        &_next {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
        }

        &_prev {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
        }
        @include tablet_hrz{
            display: none;
        }
    }

    &__pagination {
        position: absolute;
        z-index: 1;
        bottom: $offset-m;
        left: 50%;
        transform: translateX(-50%);
        color: white;
    }
}