.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  // width: 100%;
  // height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-property: width;
  box-sizing: content-box;
  transition-timing-function: ease-in;
  //временно, пока не подключен слайдер
  display: contents;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}
/* CSS Mode */
.swiper-container-css-mode {
  > .swiper-wrapper {
    overflow: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    &::-webkit-scrollbar {
      display: none;
    }
  }
  > .swiper-wrapper > .swiper-slide {
    scroll-snap-align: start start;
  }
}
.swiper-container-horizontal.swiper-container-css-mode {
  > .swiper-wrapper {
    scroll-snap-type: x mandatory;
  }
}

/* Auto Height */
.swiper-container-autoheight {
  &,
  .swiper-slide {
    height: auto;
  }

  .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform, height;
  }
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  min-width: 60px;
  color: $color-accent;

  &-bullet {
    $size: 14px;
    display: block;
    flex-shrink: 0;
    @include box($size);
    &:not(:last-of-type) {
      margin-right: 2 * $size;
    }
    border-radius: 50%;
    color: inherit;
    background-color: transparent;
    border: 1px solid currentColor;
    &-active {
      background-color: currentColor;
    }
  }
}

.slider {
  overflow-x: visible;
  &-navigation {
    display: flex;
    @include flex-gap($offset-small);
    color: $color-accent;
  }
  &-pagination {
    // width: 200px;
    margin: $offset-middle auto 0;
    @include tablet_hrz{
      display: none;
    }
  }
  &-navigation{
    @include phone_hrz{
      display: none;
    }
  }
  &-container{
    overflow-x: hidden;
    // width: 100vw;
    width: calc(50vw + var(--container-width)/2); //simplify from $container + (100vw - $container/2) 
    max-width: auto;
    position: relative;
    padding: 30px 15px ;
    left: -15px;
    display: grid;
    grid-auto-flow: column;
    // grid-auto-columns: max-content;
    gap: $gutter;
  }
}

.big-carousel {
  position: relative;
  &__inner{
    width: 100%;
  }
  &__navigation { 
    // display: flex;
    // justify-content: space-between;
    // align-items: stretch;
    &-area {
      z-index: 2;
      width: 200px;
      cursor: pointer;
      &_next{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
      }
      &_prev{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
      }
    }
    
  }
  &__pagination {
    position: absolute;
    z-index: 1;
    bottom: $offset-middle;
    left: 50%;
    transform: translateX(-50%);
    color: white;
  }
}
/*отладочные стили*/
// .swiper-slide-prev{
//   background: rgb(255, 209, 209);
// }
// .swiper-slide-next{
//   background: rgb(160, 255, 173);
// }
// .swiper-slide-active{
//   background: rgb(255, 255, 216);
// }