.header-menu {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-areas: "address schedule login button";
    align-items: center;
    gap: var(--gutter);
    margin: 0 auto;
    flex: 0 0 var(--container-width);
    grid-area: menu;
    
    @include laptop {
      grid-template-columns: repeat(8, minmax(0, 1fr));
      grid-template-areas: "address address address login login button button button";
    }
  
    @include tablet_hrz {
      grid-template-columns: repeat(7, minmax(0, 1fr));
      grid-template-areas: "address address login login button button button";
    }
  
    @include tablet {
      display: block;
    }
  
    &__button {
      grid-area: button;
      @include text(xs);
  
      @include laptop {
        @include text(xxs);
      }
  
      @include tablet {
        display: none;
      }
    }
    
    
  }