.icon-menu {
  &__item{
    svg{
      @include box(30px);
    }
  }
  display: none;
  justify-content: space-between;
  @include flex-gap($offset-s);

  @include tablet {
    display: flex;
  }

  @include phone{
      display: contents;
      @include flex-gap(unset);
  }

  &__toggle {
    &_close {
      display: none;
    }
  }

  .js-menu-toggler_active {
    .icon-menu__toggle_open {
      display: none;
    }
    .icon-menu__toggle_close {
      display: block;
    }
  }
}
