.page-grid {
  display: grid;
  column-gap: $gutter;
  grid-template-columns: 8fr 4fr;

  &_reverse {
    grid-template-columns: 4fr 8fr;
  }
  &__sidebar {
    position: relative;
    z-index: 10;
    padding: $offset-large 0;
    @include tablet {
      display: none;
    }
    &-menu {
      top: 20px;
    }
  }
  @include tablet {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}

.page-block {
  margin: $offset-large 0;
  position: relative;
  z-index: 1;

  & > :first-child {
    margin-top: 0;
  }
  /*modifiers*/

  /*для широкого блока внутри контейнера с сеткой*/
  &_wide {
    grid-column: 1/3;
    @include tablet {
      // grid-column: auto;
    }
  }

  &_background {
    margin: 0;
    padding: $offset-large 0;
    background: $color-elem-background;
    /*для блока внутри контейнера с фоном во всю ширину экрана*/
    &-wide {
      margin: 0;
      padding: $offset-large 0;
      &::before {
        content: "";
        width: 100vw;
        background-color: $color-elem-background;
        position: absolute;
        height: 100%;
        top: 0;
        z-index: -10;
        transform: translateX(calc(var(--container-width) / 2 - 50%));
      }
    }
  }
  &_centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: clamp(300px, 80%, 800px); 
    margin: var(--offset-large) auto;
  }
}

.banner-left {
  margin-top: $offset-small;
  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
