.footer {
    background-color: #e5d9c6;

    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "copyright menu menu info";
        padding-top: $offset-l;
        padding-bottom: $offset-l;
        grid-gap: $gutter;

        @include tablet-hrz {
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: "copyright menu menu menu""info info info info";
        }

        @include phone {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-template-areas: "copyright copyright""info info";
        }
    }

    &__copyright {
        grid-area: copyright;
    }

    &__nav {
        grid-area: menu;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: $gutter;

        &-item {
            display: block;
            margin-bottom: 2em;
        }

        @include phone {
            display: none;
        }
    }

    &__info {
        grid-area: info;

        @include tablet_hrz {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-template-areas: "contacts promo";
            // grid-gap: 0 var(--gutter);
            grid-gap: var(--gutter);
        }

        @include phone {
            grid-template-areas: "contacts contacts""promo promo";
        }

        &-item {
            // @include text(s);
            color: $color-text;
            display: block;
            margin-bottom: 20px;

            @include tablet_hrz {
                margin-bottom: 0;
            }
        }
    }



    &__contacts {
        grid-area: contacts;
        white-space: nowrap;

        @include tablet_hrz{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
            gap: $gutter;
            align-content: end;
    
        }
    }

    
    &__promo {
        grid-area: promo;
        color: $color-text-semi-muted;
        @include text(xxs);
    }

    &__logo {
        display: block;
        transform: translateY(-50%);
    }

    &__link {
        display: block;
        @include text(xs);
        color: $color-text;
        text-decoration: none;
        opacity: 0.95;

        &_privacy {
            text-decoration: underline;
        }
    }
}

.promo{
    &__text{
        margin-bottom: 1em;

    }
    &__img {
        display: flex;
        @include flex-gap($gutter, 0);
    }
}