@import 
'./icon-menu',
'./main-menu',
'./header-mobile',
'./header-desktop';

/*to do: add fonts adaptive and lines*/
.header {
  &__logo {
    flex: 0 2 250px;

    @include phone_hrz {
      max-width: 160px;
    }

    @include phone {
      max-width: 110px;
    }
  }

  &__link {
    @include text(inherit, 600);
    @extend %color-link;

    &:not(:last-of-type) {
      margin-right: $gutter;
    }
  }
}