@import 
'header-menu',
'icon-menu',
'main-menu',
'header-mobile',
'header-desktop';

/*to do: add fonts adaptive and lines*/
.header {
    &-desktop {
      @include phone_hrz {
        display: none;
      }
    }
    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 50px;
      position: relative;
      height: 120px;
  
      @include laptop {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: "logo menu menu menu menu contacts";
        grid-gap: var(--gutter);
        // @extend %container;
        max-width: var(--container-width);
        margin: 0 auto;
        padding: 0;
      }
  
      @include tablet {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: "logo logo logo menu menu menu menu contacts contacts mobile mobile mobile";
      }
    }
  
    &__bottom {
      display: flex;
      justify-content: center;
      border-top: $line;
      box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.04);
  
      &-menu {
        flex: 0 0 var(--container-width);
      }
    }
  
    &__user-menu {
      flex: 0 0 var(--container-width);
      grid-area: menu;
    }
  
    &__logo {
      flex: 0 2 250px;
      grid-area: logo;
      @include phone_hrz {
        max-width: 160px;
      }
      @include phone {
        max-width: 110px;
      }
    }
  
    &__contacts {
      flex: 0 2 250px;
      grid-area: contacts;
  
      @include phone_hrz {
        display: none;
      }
    }
  
    &__phone {
      font-size: clamp(14px, 1.2vw, 24px);
  
      @include tablet {
        display: none;
      }
    }
  
    &__schedule {
      display: none;
      // @include text(xxs);
  
      @include laptop {
        display: block;
      }
    }
  
    &__link {
      @include text(inherit, 600);
      @extend %color-link;
      &:not(:last-of-type) {
        margin-right: $gutter;
      }
    }
  }