include /components/button/button
include /components/breadcrumb/breadcrumb
include /components/banner/banner
include /components/intro/intro
include /components/about/about
include /components/overview/overview
include /components/review/review
include /components/branch/branch
include /components/schedule/schedule
include /components/input/input
include /components/form/form
include /components/spoiler/spoiler
include /components/accordion/accordion
include /components/document/document
include /components/licence/licence
include /components/header-info/header-info
include /components/doctor-card/doctor-card
include /components/input/control-payment
include /components/price-list/price-list
include menu/sidebar-menu
include /components/card/card
include /components/news/news
include /components/button-arrow/button-arrow
include /components/pagination/pagination
include /components/contact/contact