include /components/button 
include /components/breadcrumb
include /components/banner
include /components/intro
include /components/about
include /components/overview
include /components/review
include /components/branch
include /components/header-info
include /components/schedule
include /components/_doctor-card
include /components/input
include /components/form
include /components/control-payment
include /components/accordion
include /components/price-list
include /components/sidebar-menu