include mixins

- const sitename = 'Зимамед'
- const phone = '8 (8642) 233-03-03'
- let address = { city: 'г. Краснодар', address:' ул. Московская, 40'}
- let scheduleInfo = 'Пн. — Сб. с&nbsp;9:00 до 21:00'
- let footerSchedule = 'пн-сб 8:00 — 23:00'
- const logo = '/logo.png'

block vars
    - const title = 'Страница'
    - const pageHeaderImage

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title 
        link(rel="stylesheet", href="main.css")
    body 
        include header/header 
        include page-header/page-header
        if !mainpage
            +page-header(pageHeaderImage)
            .container
                block content 
        else 
            block content
        include footer/footer
        block scripts
        
include icons.svg