.page-grid {
  display: grid;
  column-gap: $gutter;
  grid-template-columns: 8fr 4fr;

  &_reverse {
    grid-template-columns: 4fr 8fr;
  }

  &__sidebar {
    position: relative;
    z-index: 10;
    padding: $offset-l 0;

    @include tablet {
      display: none;
    }

    &-menu {
      top: 20px;
    }
  }

  @include tablet {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}
